$amzrk2-font-family-base: -apple-system, BlinkMacSystemFont, 'SF Pro Text', 'Segoe UI', 'Arial',
  'Helvetica Neue', 'Helvetica', 'PingFang SC', 'Hiragino Sans GB', 'Source Han Sans CN',
  'Source Han Sans SC', 'Microsoft YaHei', 'WenQuanYi Micro Hei', sans-serif;
$amzrk2-font-family-mono: 'Cascadia Code', 'SF Mono', 'Fira Code', 'Consolas', -apple-system,
  BlinkMacSystemFont, 'SF Pro Text', 'Segoe UI', 'Arial', 'Helvetica Neue', 'Helvetica',
  'PingFang SC', 'Hiragino Sans GB', 'Source Han Sans CN', 'Source Han Sans SC', 'Microsoft YaHei',
  'WenQuanYi Micro Hei', monospace;

$amzrk2-font-size-base: 16px;

$amzrk2-font-size-xs: 0.75rem;
$amzrk2-font-size-sm: 0.875rem;
$amzrk2-font-size-md: 1.125rem;
$amzrk2-font-size-lg: 1.25rem;
$amzrk2-font-size-xl: 1.375rem;

$amzrk2-space-base: 1.5rem;
$amzrk2-space-sm: 1rem;

$amzrk2-navbar-height: 3.25rem;
$amzrk2-navbar-height-sm: 2.5rem;

$amzrk2-radius: 3px;

$amzrk2-divider: 0.1875rem solid var(--color-wrapper);

$amzrk2-toc-height: 512px;
