.comment {
  margin-top: $space-base;

  @include responsive(md) {
    margin-top: $space-sm;
  }

  &__loading {
    line-height: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: $space-base;

    & > svg,
    & > span {
      margin: 0 0.125rem;
    }
  }
}
