.comment {
  margin-top: $space-card;

  @include responsive(md) {
    margin-top: $space-mobile;
  }

  &__loading {
    line-height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: $space-card;

    span {
      margin-left: 4px;
    }

    & > div {
      display: flex;
      justify-content: center;
      align-items: center;
      line-height: 1.75;
    }
  }

  &--loaded {
    padding: $space-mobile $space-card;

    @include responsive(md) {
      padding: 0 $space-mobile;
    }
  }
}
