.footer {
  font-size: $font-size-sm;
  height: 45px;
  margin-bottom: $space-sm;

  & > .container {
    height: 100%;
    padding: 0 $space-base;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include responsive(sm) {
      flex-direction: column;
      justify-content: center;
    }
  }

  &__text {
    overflow: hidden;
    white-space: nowrap;

    @include responsive(sm) {
      &:not(:first-child) {
        margin-top: $space-xs;
      }
    }
  }
}
