.footer {
  font-size: $font-xs;
  height: 48px;
  margin-bottom: $space-card;

  @include responsive(sm) {
    height: 48px + 2 * 8px;
  }

  & > .container {
    height: 100%;
    padding: 0 $space-card;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include responsive(sm) {
      flex-direction: column;
      justify-content: center;
    }
  }

  &__text {
    overflow: hidden;
    white-space: nowrap;

    @include responsive(sm) {
      &:first-child {
        margin-bottom: 8px;
      }

      &:not(:first-child) {
        margin-top: 8px;
      }
    }
  }
}
