.header {
  background-color: var(--color-backdrop);
  box-shadow: var(--box-shadow);
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  user-select: none;
  font-family: $font-family-body;
  backdrop-filter: $filter-blur;
}

.navbar {
  height: $height-navbar;
  padding-right: $space-card - $space-mobile;
  display: flex;
  position: relative;

  &__item {
    display: inline-block;
    padding: 0 $space-card;
    height: $height-navbar;
    line-height: $height-navbar;
    cursor: pointer;
    color: inherit;
    position: relative;
    transition: background-color $transition-fast ease,
      border-bottom-color $transition-fast ease;
    border-bottom: $highlight-size solid transparent;
    background-color: transparent;
    border-top: $highlight-size solid transparent;

    &:hover {
      color: var(--color-font);
      background-color: var(--color-transparent-active);
      text-decoration: none;
    }

    &--active {
      border-bottom-color: var(--color-primary);
    }
  }

  &__brand {
    flex: 0 0 auto;
    font-size: $font-xl;
    font-weight: 500;

    .navbar__item {
      padding: 0 $space-card;
    }
  }

  &__menu {
    flex: 1 1 auto;
    display: flex;
    justify-content: space-between;
  }

  @include responsive(sm) {
    flex-direction: column;
    height: $height-navbar-sm * 2;
    padding-right: 0;

    &__item {
      height: $height-navbar-sm;
      line-height: $height-navbar-sm;
    }

    &__brand {
      font-size: $font-lg;
      text-align: center;
    }

    &__menu {
      justify-content: center;
    }
  }
}

// only show toc ctrl on single page of mobile
.navbar__toc {
  display: none;
}
@include responsive(sm) {
  body[data-section='single'] .navbar__toc {
    display: inline-block;
  }
  .navbar__switch {
    display: none;
  }
}

// mobile header padding fix
@media screen and (max-width: 450px) {
  .navbar__item {
    padding: 0 16px;
  }
}
@media screen and (max-width: 380px) {
  .navbar__item {
    padding: 0 12px;
  }
}
// iphone 5 (small width) fix
@media screen and (max-width: 350px) {
  .navbar__item {
    padding: 0 8px;
  }
}

// temp banner
.banner {
  height: 45px;
  color: var(--color-font-inverse);
  background-color: var(--color-primary);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: var(--box-shadow);
  user-select: none;

  &__text {
    margin-right: 6px;
  }

  &__emoji {
    width: 16px;
    height: 16px;
    position: relative;
    top: -0.5px;
  }
}
