.header {
  background-color: var(--color-bg);
  backdrop-filter: $filter-blur;
  box-shadow: var(--box-shadow);
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  user-select: none;
  font-family: $font-family-base;

  @include responsive(sm) {
    top: -$height-navbar-sm;
  }
}

.navbar {
  height: $height-navbar;
  padding-right: $space-base - $space-sm;
  display: flex;
  position: relative;

  &__item {
    display: inline-block;
    padding: 0 $space-sm;
    height: $height-navbar;
    line-height: $height-navbar;
    cursor: pointer;
    color: inherit;
    position: relative;

    &:hover,
    &--active {
      border-bottom: $size-divider solid var(--color-primary);
      color: var(--color-primary);
      text-decoration: none;
    }
  }

  &__brand {
    flex: 0 0 auto;
    font-size: $font-size-lg;
    font-weight: 500;

    .navbar__item {
      padding: 0 $space-base;
    }
  }

  &__menu {
    flex: 1 1 auto;
    display: flex;
    justify-content: space-between;
  }

  @include responsive(sm) {
    flex-direction: column;
    height: $height-navbar-sm * 3;

    &__item {
      height: $height-navbar-sm;
      line-height: $height-navbar-sm;
    }

    &__brand {
      font-size: $font-size-md;
      text-align: center;
    }

    &__menu {
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;
    }
  }
}

// only show toc ctrl on single page of mobile
#ctrl-toc {
  display: none;
}
@include responsive(sm) {
  body[data-section='single'] #ctrl-toc {
    display: inline-block;
  }
}
