.info {
  text-align: center;

  &__avatar {
    margin: 0 auto $space-card auto;
    padding-top: $space-card;
    width: 75px;
    user-select: none;
    border-radius: $corner-radius;
    overflow: hidden;
  }

  &__meta {
    text-align: center;
    font-size: $font-sm;
    margin-bottom: $space-card;
  }

  &__metaName {
    display: block;
    font-size: $font-lg;
    font-weight: 500;
  }

  &__counter {
    display: flex;
    padding: $space-card;
    padding-top: 0;
  }

  &__counterItem {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
  }

  &__counterData {
    font-size: $font-lg;
    color: var(--color-primary);
  }

  &__counterName {
    font-size: $font-sm;
    margin-top: 8px / 2;
  }
}

.links {
  margin-top: $space-card;

  @include responsive(md) {
    margin-top: $space-mobile;
  }

  display: flex;
  justify-content: center;

  &__item {
    display: block;
    color: inherit;
    flex: 0 1 auto;
    height: $height-navbar-sm;
    text-align: center;
    line-height: $height-navbar-sm;
    padding: 0 $space-mobile;
    cursor: pointer;
    transition: background-color $transition-fast ease;

    &:hover {
      text-decoration: none;
      color: var(--color-font);
      background-color: var(--color-transparent-active);
    }
  }
}
