.info {
  text-align: center;

  &__avatar {
    margin: 0 auto $space-xl auto;
    padding-top: $space-xl;
    width: 75px;
    user-select: none;
    overflow: hidden;
  }

  &__meta {
    text-align: center;
    font-size: $font-sm;
    margin-bottom: $space-xl;
  }

  &__metaName {
    display: block;
    font-size: $font-lg;
    font-weight: 500;
  }

  &__counter {
    display: flex;
    padding: $space-xl;
    padding-top: 0;
  }

  &__counterItem {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
  }

  &__counterData {
    font-size: $font-lg;
    color: var(--color-primary);
  }

  &__counterName {
    font-size: $font-sm;
    margin-top: 8px / 2;
  }
}

.links {
  margin-top: $space-xl;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;

  @include responsive(md) {
    margin-top: $space-lg;
  }

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    color: inherit;
    flex: 0 1 auto;
    height: 32px;
    line-height: 32px;
    width: 42px;
    text-align: center;
    cursor: pointer;
    transition: background-color $trans-fast ease;
    border-radius: $radius-sm;

    &:hover {
      text-decoration: none;
      color: var(--color-font);
      background-color: var(--color-bg-hover);
    }

    &:active {
      background-color: var(--color-bg-active);
    }
  }
}

.kofi {
  margin-top: $space-xl;

  @include responsive(md) {
    margin-top: $space-lg;
  }
}
