.main {
  & > .container {
    display: flex;

    & > .content {
      flex: 1 1 75%;
      max-width: 75%;

      & > .content__inner {
        margin-top: $space-base;
        margin-left: $space-base;
        margin-right: $space-base / 2;
        margin-bottom: $space-base;
      }
    }

    & > .sidebar {
      flex: 0 1 25%;
      max-width: 25%;

      & > .sidebar__inner {
        height: 100rem;
        margin-top: $space-base;
        margin-right: $space-base;
        margin-left: $space-base / 2;
        margin-bottom: $space-base;
      }
    }
  }
}
