#top {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 0;
}

.main {
  & > .container {
    display: flex;

    & > .content {
      flex: 1 1 75%;
      max-width: 75%;

      & > .content__inner {
        height: 100%;
        padding-top: $space-xl;
        padding-left: $space-xl;
        padding-right: $space-xl / 2;
        padding-bottom: $space-xl;
      }
    }

    & > .sidebar {
      flex: 0 1 25%;
      max-width: 25%;

      & > .sidebar__inner {
        height: 100%;
        padding-top: $space-xl;
        padding-right: $space-xl;
        padding-left: $space-xl / 2;
        padding-bottom: $space-xl;
      }
    }
  }

  @include responsive(md) {
    & > .container {
      display: flex;
      flex-direction: column;

      & > .content {
        flex: 1 1 auto;
        max-width: 100%;

        & > .content__inner {
          padding-top: $space-lg;
          padding-left: $space-lg;
          padding-right: $space-lg;
          padding-bottom: $space-lg / 2;
        }
      }

      & > .sidebar {
        flex: 0 1 auto;
        max-width: 100%;

        & > .sidebar__inner {
          padding-top: $space-lg / 2;
          padding-right: $space-lg;
          padding-left: $space-lg;
          padding-bottom: $space-lg;
        }
      }
    }
  }
}
