.main {
  & > .container {
    display: flex;

    & > .content {
      flex: 1 1 75%;
      max-width: 75%;

      & > .content__inner {
        height: 100%;
        padding-top: $space-base;
        padding-left: $space-base;
        padding-right: $space-base / 2;
        padding-bottom: $space-base;
      }
    }

    & > .sidebar {
      flex: 0 1 25%;
      max-width: 25%;

      & > .sidebar__inner {
        height: 100%;
        padding-top: $space-base;
        padding-right: $space-base;
        padding-left: $space-base / 2;
        padding-bottom: $space-base;
      }
    }
  }

  @include responsive(md) {
    & > .container {
      display: flex;
      flex-direction: column;

      & > .content {
        flex: 1 1 auto;
        max-width: 100%;

        & > .content__inner {
          padding-top: $space-sm;
          padding-left: $space-sm;
          padding-right: $space-sm;
          padding-bottom: $space-sm / 2;
        }
      }

      & > .sidebar {
        flex: 0 1 auto;
        max-width: 100%;

        & > .sidebar__inner {
          padding-top: $space-sm / 2;
          padding-right: $space-sm;
          padding-left: $space-sm;
          padding-bottom: $space-sm;
        }
      }
    }
  }
}

@include responsive(md) {
  body[data-section='index'] .main {
    & > .container {
      flex-direction: column-reverse;

      & > .content > .content__inner {
        padding-top: $space-sm / 2;
        padding-bottom: $space-sm;
      }

      & > .sidebar > .sidebar__inner {
        padding-top: $space-sm;
        padding-bottom: $space-sm / 2;
      }
    }
  }
}
