.main {
  & > .container {
    display: flex;

    & > .content {
      flex: 1 1 75%;
      max-width: 75%;

      & > .content__inner {
        height: 100%;
        padding-top: $space-base;
        padding-left: $space-base;
        padding-right: $space-base / 2;
        padding-bottom: $space-base;
      }
    }

    & > .sidebar {
      flex: 0 1 25%;
      max-width: 25%;

      & > .sidebar__inner {
        height: 100%;
        padding-top: $space-base;
        padding-right: $space-base;
        padding-left: $space-base / 2;
        padding-bottom: $space-base;
      }
    }
  }
}
