.pagination {
  display: flex;
  padding: 0 $space-card;
  justify-content: center;

  & > a {
    display: block;
    color: inherit;
    flex: 0 1 auto;
    height: $height-navbar-sm;
    line-height: $height-navbar-sm;
    padding: 0 $space-mobile;
    cursor: pointer;

    &:hover {
      text-decoration: none;
      border-bottom: $highlight-size solid var(--color-primary);
      color: var(--color-primary);
    }

    &.pagination__item--active {
      color: var(--color-primary);
    }

    .icon {
      width: 15px;
      height: 15px;
    }
  }
}
