.pagination {
  display: flex;
  padding: 0 $space-card;
  justify-content: center;

  & > a {
    display: block;
    color: inherit;
    flex: 0 1 auto;
    height: $height-navbar-sm;
    line-height: $height-navbar-sm;
    padding: 0 $space-mobile;
    cursor: pointer;
    border-bottom: $highlight-size solid transparent;
    transition: background-color $transition-duration ease,
      border-bottom-color $transition-duration ease;

    &:hover {
      text-decoration: none;
      color: var(--color-font);
      background-color: var(--color-transparent-active);
    }

    &.pagination__item--active {
      border-bottom-color: var(--color-primary);
    }

    .icon {
      width: 15px;
      height: 15px;
    }
  }
}
