.search {
  padding: 5px;
  display: flex;
  overflow-y: hidden;

  @include responsive(md) {
    margin-bottom: $space-mobile;
  }

  &__input {
    flex: 1 1 auto;
    border-radius: 0;
    margin-right: 5px;

    input {
      min-width: 0;
      width: 100%;
      padding: 0;
      height: 32px;
      line-height: 32px;
      outline: none;
      border: none;
      border-radius: $corner-radius-sm;
      background-color: transparent;
      padding: 0 8px;
      transition: background-color $transition-fast ease;
      text-decoration: none;

      &:hover {
        background-color: var(--color-bg-active);
      }

      &:focus {
        background-color: var(--color-bg-active);
      }
    }
  }

  &__ctrl {
    flex: 0 0 auto;
    width: 42px;
    color: var(--color-font);
    cursor: pointer;
    height: 32px;
    line-height: 32px;
    border-radius: $corner-radius-sm;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      background-color: var(--color-bg-active);
      text-decoration: none;
    }
  }
}
