.search {
  height: $height-navbar-sm;
  line-height: $height-navbar-sm;
  display: flex;
  padding-left: $space-card;
  padding-right: $space-card;
  overflow-y: hidden;

  @include responsive(md) {
    margin-bottom: $space-mobile;
  }

  &__input {
    flex: 1 1 auto;
    border-radius: 0;

    input {
      min-width: 0;
      width: 100%;
      padding: 0;
      height: $height-navbar-sm;
      line-height: $height-navbar-sm;
      outline: none;
      border: none;
      border-bottom: $highlight-size solid transparent;
      border-top: $highlight-size solid transparent;
      border-radius: 0;
      background-color: transparent;
      padding-left: $space-mobile;
      padding-right: 8px;
      transition: background-color $transition-duration ease,
        border-bottom-color $transition-duration ease;
      text-decoration: none;

      &:hover {
        background-color: var(--color-transparent-active);
      }

      &:focus {
        background-color: var(--color-transparent-active);
        border-bottom-color: var(--color-primary);
      }
    }
  }

  &__ctrl {
    padding: 0 $space-mobile;
    color: var(--color-font);
    cursor: pointer;
    height: $height-navbar-sm;
    line-height: $height-navbar-sm;

    &:hover {
      background-color: var(--color-transparent-active);
      text-decoration: none;
    }
  }
}
