# legacy browsers list support
# https://github.com/browserslist/browserslist#full-list
# https://caniuse.com/es6-module

defaults
edge >= 16
firefox >= 60
chrome >= 61
safari >= 11
not ie <= 11
not op_mini all
