.adsense {
  border-radius: $amzrk2-radius;

  .adsbygoogle {
    display: block;
    text-align: center;
    border-radius: $amzrk2-radius;
    overflow: hidden;
  }
  &.ad-single,
  &.ad-list {
    .adsbygoogle {
      margin-top: 1rem;
    }
  }
}
