.friends-wrapper {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: $space-base;
  overflow: hidden;
}

.card-friends {
  margin-bottom: 0 !important;
  .image-wrapper {
    border-radius: $radius $radius 0 0;
  }
}

.friends-link {
  display: block;
}

.friends-info {
  text-align: center;
  padding: $space-sm;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  span {
    display: block;
    &:first-child {
      font-size: $font-size-md;
    }
    &:last-child {
      font-size: $font-size-sm;
    }
  }
}

.card.friends-add {
  margin-top: $space-base;
  padding: $space-sm;
  a {
    display: block;
    text-align: center;
  }
}
