@media screen and (max-width: $tablet) {
  .main-columns {
    display: flex;
    flex-direction: column-reverse;
  }
}

.main-container {
  padding: $space-base;
}

.main-sidebar {
  .card:not(:last-child) {
    margin-bottom: $space-base;
  }
}
