.list-meta,
.post-meta {
  & > span:not(:first-child) {
    padding-left: 1rem;
  }

  & > span:nth-child(3) {
    a:not(:last-child) {
      margin-right: 0.375rem;
    }
  }

  overflow-x: auto;
  white-space: nowrap;
  @include customScrollbar('x');
}
