// mobile fixed navbar
main {
  @media screen and (max-width: $tablet) {
    margin-top: $amzrk2-navbar-height-sm * 2;
  }
}

// mobile navbar
.navbar {
  @media screen and (max-width: $tablet) {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    .container {
      height: $amzrk2-navbar-height-sm * 2;
      flex-direction: column;
      font-size: $amzrk2-font-size-sm;
    }

    .navbar-item {
      height: $amzrk2-navbar-height-sm;
      line-height: $amzrk2-navbar-height-sm;
    }

    .navbar-brand .navbar-item {
      font-size: $amzrk2-font-size-md;
    }

    .navbar-end .navbar-item {
      font-size: $amzrk2-font-size-sm;
    }
  }

  @media screen and (max-width: 26.25rem) {
    .navbar-start .navbar-item {
      padding: 0 0.625rem;
    }
    .navbar-end .navbar-item {
      padding: 0 0.75rem;
    }
  }

  @media screen and (max-width: 21.875rem) {
    .navbar-start .navbar-item {
      padding: 0 0.375rem;
    }
    .navbar-end .navbar-item {
      padding: 0 0.5rem;
    }
  }
}

// show toc btn instead of rss on mob
#ctrl-rss {
  display: block;
}
#ctrl-toc {
  display: none;
}
@media screen and (max-width: $tablet) {
  body[data-section='single'] {
    #ctrl-rss {
      display: none;
    }
    #ctrl-toc {
      display: block;
    }
  }
}

// mobile table of contents
@media screen and (max-width: $tablet) {
  #TableOfContents {
    max-height: 100%;
  }

  .card.toc {
    position: fixed;
    top: $amzrk2-navbar-height-sm * 2;
    right: 0;
    bottom: 0;
    border-radius: 0;
    transition: all 250ms ease-in-out;
    max-width: 15rem;
  }
  // remove unused margin after info card
  .column.single-sidebar.is-one-quarter .card:first-child {
    margin-bottom: 0;
  }
  .card.toc.hidden {
    box-shadow: none;
    right: -15rem;
  }
}

// mobile card margin fix
@media screen and (max-width: $tablet) {
  .card-links {
    margin-bottom: 0 !important;
  }
}

// mobile small card margin
@media screen and (max-width: $tablet) {
  // container
  .main-container,
  .list-container,
  .single-container {
    padding: 1rem;
  }
  // card margins
  .main-sidebar,
  .list-content,
  .list-sidebar,
  .single-content,
  .single-sidebar {
    .card:not(:last-child) {
      margin-bottom: 1rem;
    }
  }
  // index
  .main-sidebar {
    padding-bottom: 0.25rem;
  }
  .main-content {
    padding-bottom: 0.75rem;
  }
  // list page
  .list-content:not(.main-content) {
    padding-bottom: 0.25rem;
  }
  // single page
  .single-content:not(.main-content) {
    padding-bottom: 0.25rem;
  }
}

// mobile optimized link card
@media screen and (max-width: $tablet) {
  .card-links > a {
    width: 2rem + 2 * $amzrk2-space-sm;
  }
}
