.navbar {
  background-color: var(--color-bg);
  box-shadow: var(--shadow);

  .container {
    height: $navbar-height;
    display: flex;
    align-items: center;
  }

  .navbar-item {
    display: block;
    padding: 0 $space-sm;
    height: $navbar-height;
    line-height: $navbar-height;
    cursor: pointer;

    &:hover {
      color: var(--color-primary);
      background-color: var(--color-hover);
    }

    &.active {
      color: var(--color-primary);
    }
  }

  a,
  a:hover {
    color: var(--color-font);
  }

  .navbar-brand {
    flex: 0 0 auto;

    .navbar-item {
      font-size: $font-size-lg;
      padding: 0 $space-base;
    }
  }

  .navbar-menu {
    flex: 1 1 auto;
    display: flex;
  }

  .navbar-start {
    flex: 1 1 auto;
    display: flex;
  }

  .navbar-end {
    flex: 0 0 auto;
    justify-self: end;
    display: flex;
    padding-right: $space-base - $space-sm + 0.05rem;
    font-size: $font-size-md;
  }
}
