.notification {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  .card {
    background-color: var(--color-wrapper);
  }

  #feature-close {
    display: block;
    height: 2rem;
    line-height: 2rem;
    color: var(--color-font);
    cursor: pointer;
    text-align: center;
    border-radius: $amzrk2-radius;

    &:hover {
      color: var(--color-primary);
      background-color: var(--color-hover);
    }
  }
}
