.single-container {
  padding: $amzrk2-space-base;
}

.single-sidebar {
  .card:not(:last-child) {
    margin-bottom: $amzrk2-space-base;
  }
}

.single-content {
  .card {
    padding: 0;
  }
  .card:not(:last-child) {
    margin-bottom: $amzrk2-space-base;
  }
}

.post-image {
  img {
    display: block;
    overflow: hidden;
  }
  border-radius: $amzrk2-radius $amzrk2-radius 0 0;
}
.post-box {
  padding: $amzrk2-space-base;
  padding-bottom: 0;
}
.post-title {
  font-size: $amzrk2-font-size-xl;
  margin-bottom: $amzrk2-space-sm;
  color: var(--color-primary);
}
.post-meta {
  font-size: $amzrk2-font-size-sm;
  color: var(--color-primary);
}
.post-content {
  padding: $amzrk2-space-base;

  // fix adblock adsense margin
  .markdown.content {
    margin-bottom: 0;
  }
}

.comment-wrapper {
  padding: $amzrk2-space-base !important;
}

#back-top {
  display: block;
  height: 2rem;
  line-height: 2rem;
  color: var(--color-font);
  padding: 0 0.375rem;
  border-radius: $amzrk2-radius;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: $amzrk2-font-size-sm;

  &:hover {
    color: var(--color-primary);
    background-color: var(--color-hover);
  }
}
