.single-container {
  padding: $space-base;
}

.single-sidebar {
  .card:not(:last-child) {
    margin-bottom: $space-base;
  }
}

.single-content {
  .card {
    padding: 0;
  }
  .card:not(:last-child) {
    margin-bottom: $space-base;
  }
}

.post-image {
  img {
    display: block;
    overflow: hidden;
  }
  border-radius: $radius $radius 0 0;
}
.post-box {
  padding: $space-base;
  padding-bottom: 0;
}
.post-title {
  font-size: $font-size-xl;
  margin-bottom: $space-sm;
  color: var(--color-primary);
}
.post-meta {
  font-size: $font-size-sm;
  color: var(--color-primary);
}
.post-content {
  padding: $space-base;

  // fix adblock adsense margin
  .markdown.content {
    margin-bottom: 0;
  }
}

.comment-wrapper {
  padding: $space-base !important;
}

#back-top {
  display: block;
  height: 2rem;
  line-height: 2rem;
  color: var(--color-font);
  padding: 0 0.375rem;
  border-radius: $radius;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: $font-size-sm;

  &:hover {
    color: var(--color-primary);
    background-color: var(--color-hover);
  }
}

.license.markdown.content {
  margin-top: $space-base;
  font-size: $font-size-sm;
  color: var(--color-primary);
}
