{{ $image := .Page.Resources.Match .Destination }}

{{ if ge (len $image) 1 }}
{{ $image = index $image 0 }}

{{ $imageHeight := mul $image.Height 1.0 }}
{{ $imageWidth := mul $image.Width 1.0 }}
{{ if or (lt $imageHeight 1) (lt $imageWidth 1) }}
{{ warnf "Image not valid \"%s\"" .Destination }}
{{ else }}

{{ $ratio := mul (div $imageHeight $imageWidth) 100 }}
{{ $css := printf "padding-bottom: %.4f%%;" $ratio }}
{{ $width := "width: 100%;" }}
{{ if le $imageWidth 652 }}
{{ $width = printf "width: %.0fpx;" $imageWidth }}
{{ end }}
<!-- goldmark will insert p tag before & after image div so theres no need to wrap it with p tag -->
<div class="fiximg" style="{{ $width | safeCSS }}">
  <div class="fiximg__container" style="{{ $css | safeCSS }}">
    <img loading="lazy" src="{{ $image.Permalink | absURL }}" alt="{{ .Text }}" data-zoomable />
  </div>
  {{ if .Text }}<span class="fiximg__desc">{{ .Text }}</span>{{ end }}
</div>

{{ end }}

{{ else }}
{{ warnf "Image not found \"%s\"" .Destination }}
{{ end }}
