{{- $image := .Page.Resources.Match .Destination -}}

{{- if ge (len $image) 1 -}}
{{- $image = index $image 0 -}}

{{- $ratio := mul (div (mul $image.Height 1.0) (mul $image.Width 1.0)) 100 -}}
{{- $css := printf "padding-bottom: %.4f%%;" $ratio -}}
{{- $width := "width: 100%;" -}}
{{- if le $image.Width 700 -}}
{{- $width := printf "width: %dpx;" $image.Width -}}
{{- end -}}
<p>
<div class="fiximg" style="{{- $width | safeCSS -}}">
  <div class="fiximg__container" style="{{- $css | safeCSS -}}">
    <img loading="lazy" src="{{- $image.Permalink -}}" alt="{{- .Text -}}" />
  </div>
</div>
</p>

{{- else -}}
{{- warnf "Image not found \"%s\"" .Destination -}}
{{- end -}}
