/* sticky footer */
html,
body {
  height: 100%;
}

body {
  background-color: var(--color-body);
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 1 auto;
}

header,
footer {
  flex: 0 0 auto;
}
