* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* sticky footer */
html,
body {
  min-height: 100vh;
}

body {
  background-color: var(--color-body);
  color: var(--color-font);
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 1 auto;
}

header,
footer {
  flex: 0 0 auto;
}

/* index fixer */
header {
  z-index: 3;
}
footer {
  z-index: 1;
}
main {
  z-index: 2;
  .notification {
    z-index: 2;
  }
  .container {
    z-index: 1;
    .column.is-three-quarters {
      z-index: 1;
    }
    .column.is-one-quarter {
      z-index: 2;
    }
  }
}
/* gitalk */
.gitalk-container {
  z-index: 1;
}
.gt-container {
  z-index: 1;
  .gt-header,
  .gt-comments {
    z-index: 1;
  }
  .gt-meta {
    z-index: 2;
    .gt-counts,
    .gt-user {
      z-index: 1;
    }
    .gt-popup {
      z-index: 2;
    }
  }
}
