a {
  color: var(--color-primary);
  &:hover {
    color: var(--color-secondary);
  }
}

strong,
b {
  font-weight: 400 !important;
  color: var(--color-primary);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400 !important;
}

.markdown.content {
  h1,
  h5,
  h6 {
    display: none;
  }

  h2 {
    font-size: $amzrk2-font-size-xl;
    margin: 1.375rem 0 1rem 0;
    color: var(--color-primary);
  }

  h3 {
    font-size: $amzrk2-font-size-md;
    margin: 1.25rem 0 1rem 0;
    color: var(--color-primary);
  }

  h4 {
    font-size: $amzrk2-font-size-base;
    margin: 1.125rem 0 1rem 0;
    color: var(--color-primary);
  }

  ul {
    list-style-type: '- ';
  }

  ul,
  ol {
    margin-left: 1.25rem;
  }

  img {
    border-radius: $amzrk2-radius;
    max-width: 100%;
    display: block;
  }

  code,
  tt {
    background-color: var(--color-wrapper);
    border-radius: $amzrk2-radius;
    padding: 0.15em 0.3em;
    color: inherit;
    font-size: $amzrk2-font-size-sm;
    word-wrap: normal;
    br {
      display: none;
    }
  }

  pre {
    border-radius: $amzrk2-radius;
    background-color: var(--color-wrapper);
    color: inherit;
    overflow-x: auto;

    & > code {
      background-color: transparent;
      border-radius: none;
      padding: 0;
    }

    @include customScrollbar('x');
  }

  blockquote {
    border-left: $amzrk2-divider;
  }

  table {
    background: transparent;

    &.is-narrow {
      font-size: $amzrk2-font-size-sm;
    }

    th {
      color: var(--color-primary);
      font-weight: 400;
      font-size: $amzrk2-font-size-base;
    }

    td,
    th {
      border-color: var(--color-font);
    }
  }

  .image-wrapper {
    border-radius: $amzrk2-radius;

    img {
      width: 100%;
    }
  }
}

/* placeholder */
img {
  color: var(--color-primary);
  text-align: center;
  font-size: $amzrk2-font-size-sm;
}

input {
  min-width: 0; // fix mobile input overflow
}
