{{- define "head" -}}

<head>
  {{- partial "head" . -}}
</head>

{{- end -}}

{{- define "body" -}}

<body data-theme="auto" data-section="code">
  {{- partial "header" . -}}

  <main class="main">
    <div class="container">
      <div class="content">
        <div class="content__inner code__list">
          {{- $paginator := .Paginate (where .Site.RegularPages "Type" "in" .Section) -}}
          {{- range $paginator.Pages -}}
          <div class="card">
            <div class="code__box">
              <div class="code__info">
                <a class="code__title" href="{{- .Permalink -}}">
                  <h2>{{- .Title -}}</h2>
                </a>
              </div>
              {{- partial "metadata" . -}}
            </div>
          </div>
          {{- end -}}

          {{- .Scratch.Set "paginator" $paginator -}}
          {{- partial "pagination" . -}}
        </div>
      </div>

      <aside class="sidebar">
        <div class="sidebar__inner">
          <div class="sticky">
            {{- partial "info" . -}}
          </div>
        </div>
      </aside>
    </div>
  </main>

  {{- partial "footer" . -}}
</body>

{{- end -}}
