{{ define "head" }}

<head>
  {{ partial "head" . }}
</head>

{{ end }}

{{ define "body" }}

<body data-theme="auto" data-section="friends">
  {{ partial "header" . }}

  <main class="main">
    <div class="container">
      <div class="content">
        <div class="content__inner friends__list">
          {{ $recources := .Page.Resources }}
          {{ range .Site.Data.friends }}
          {{ $friendImages := $recources.Match .icon }}
          {{ if ge (len $friendImages) 1 }}
          {{ $friendImage := index $friendImages 0 }}
          {{ $status := gt (len .link) 0 }}
          <div class="card friends__item {{ if eq $status false }}friends__disabled{{ end }}">
            <div class="friends__image fiximg">
              {{ if $status }}
              <a class="fiximg__container" style="padding-bottom: 100%;" href="{{ .link | safeURL }}" target="_blank"
                 rel="noopener">
                <img loading="lazy" src="{{ $friendImage.Permalink | absURL }}" />
              </a>
              {{ else }}
              <div class="fiximg__container" style="padding-bottom: 100%;">
                <img loading="lazy" src="{{ $friendImage.Permalink | absURL }}" />
              </div>
              {{ end }}
            </div>
            <div class="friends__box">
              {{ if $status }}
              <a class="friends__title" target="_blank" rel="noopener" href="{{ .link | safeURL }}">
                <h2>{{ .title }}</h2>
              </a>
              {{ else }}
              <div class="friends__title" target="_blank" rel="noopener" href="{{ .link | safeURL }}">
                <h2>{{ .title }}</h2>
              </div>
              {{ end }}
              <span class="friends__desc">
                {{ .desc }}
              </span>
            </div>
          </div>
          {{ end }}
          {{ end }}

          <div class="card comment">
            <script async crossorigin="anonymous" src="https://giscus.app/client.js"
                    data-repo="{{ .Site.Params.giscusRepo }}" data-repo-id="{{ .Site.Params.giscusRepoID }}"
                    data-mapping="number" data-term="{{ .Site.Params.giscusFriendsID }}" data-reactions-enabled="1"
                    data-emit-metadata="0" data-input-position="bottom" data-theme="preferred_color_scheme"
                    data-lang="zh-CN" data-loading="lazy">
                    </script>
          </div>
        </div>
      </div>

      <aside class="sidebar">
        <div class="sidebar__inner">
          <div class="sticky">
            {{ partial "info" . }}
          </div>
        </div>
      </aside>
  </main>

  {{ partial "footer" . }}
</body>

{{ end }}
