{{- define "head" -}}

<head>
  {{- partial "head.html" . -}}

  {{- .Scratch.Set "styleSrc" "styles/pages/friends.scss" -}}
  {{- .Scratch.Set "styleOut" "assets/dsr-blog_friends.min.css" -}}
  {{- partial "style.html" . -}}
</head>

{{- end -}}

{{- define "body" -}}

<body data-theme="auto" data-section="friends">
  {{- partial "theme.html" . -}}
  {{- partial "header.html" . -}}

  <main class="main">
    <div class="container">
      <div class="content">
        <div class="content__inner friends__list">
          {{- range .Site.Data.friends -}}
          <div class="card friends__item">
            <div class="friends__image fiximg">
              <a target="_blank" rel="noopener" class="fiximg__container" style="padding-bottom: 100%;"
                href="{{- .link | safeURL -}}">
                <img loading="lazy" src='{{- printf "/images/friends/%s" .icon | safeURL | relURL -}}' />
              </a>
            </div>
            <div class="friends__box">
              <a class="friends__title" target="_blank" rel="noopener" href="{{- .link | safeURL -}}">
                <h2>{{- .title -}}</h2>
              </a>
              <span class="friends__desc">
                {{- .desc -}}
              </span>
            </div>
          </div>
          {{- end -}}
          <div class="card friends__add">
            <a href="{{- .Site.Params.friendsRequest -}}" target="_blank" rel="noopener">
              友链交换
            </a>
          </div>
        </div>
      </div>
      <aside class="sidebar">
        <div class="sidebar__inner">
          <div class="sticky">
            {{- partial "info.html" . -}}
          </div>
        </div>
      </aside>
  </main>

  {{- partial "footer.html" . -}}

  {{- .Scratch.Set "scriptSrc" "js/base.js" -}}
  {{- .Scratch.Set "scriptOut" "assets/dsr-blog_base.min.js" -}}
  {{- partial "script.html" . -}}
</body>

{{- end -}}
