{{ define "header" }}
{{ partial "navbar.html" . }}
{{ end }}

{{ define "main" }}
<div class="container list-container">
  <div class="columns list-columns">
    <div class="column list-content is-three-quarters">
      {{ $paginator := .Paginate (where .Site.RegularPages "Type" "in" .Section) }}
      {{ range $paginator.Pages }}
      <div class="card">
        <div class="list-image image-wrapper ratio-40x9">img</div>
        <div class="list-box">
          <div class="list-post">
            <a href="{{ .Permalink }}">
              <h2 class="list-title">{{ .Title }}</h2>
            </a>
            <div class="list-summary">{{ .Summary }}</div>
          </div>
          <div class="list-meta">meta</div>
        </div>
      </div>
      {{ end }}
    </div>
    <div class="column list-sidebar is-one-quarter">
      <div class="sticky">
        <div class="card">
          {{ partial "card-info.html" . }}
        </div>
        <div class="card">
          {{ partial "card-links.html" . }}
        </div>
      </div>
    </div>
  </div>
</div>
{{ end }}

{{ define "scripts" }}
{{ partial "scripts-content.html" . }}
{{ end }}