{{- define "head" -}}

<head>
  {{- partial "head" . -}}

  {{- .Scratch.Set "styleSrc" "styles/pages/list.scss" -}}
  {{- .Scratch.Set "styleOut" "assets/dsr-blog_list.min.css" -}}
  {{- partial "style" . -}}
</head>

{{- end -}}

{{- define "body" -}}

<body data-theme="auto" data-section="list">
  {{- partial "theme" . -}}
  {{- partial "header" . -}}
  {{- $isTagsList := eq .Section "tags" -}}

  <main class="main">
    <div class="container">
      <div class="content">
        <div class="content__inner post__list">
          {{- if $isTagsList -}}
          {{- .Scratch.Set "paginator" .Paginator -}}
          {{- else -}}
          {{- $paginator := .Paginate (where .Site.RegularPages "Type" "in" .Section) -}}
          {{- .Scratch.Set "paginator" $paginator -}}
          {{- end -}}

          {{- $paginator := .Scratch.Get "paginator" -}}
          {{- range $paginator.Pages -}}
          <div class="card">
            {{- if .Params.image -}}
            <div class="post__image fiximg">
              <a href="{{- .RelPermalink -}}" class="fiximg__container" style="padding-bottom: 22.5%;">
                <img loading="lazy" src="{{- .Params.image | relURL -}}" />
              </a>
            </div>
            {{- end -}}
            <div class="post__box">
              <div class="post__info">
                <a class="post__title" href="{{- .RelPermalink -}}">
                  <h2>{{- .Title -}}</h2>
                </a>
                <div class="post__summary markdown">{{ .Summary }}</div>
              </div>
              {{- partial "metadata" . -}}
            </div>
          </div>
          {{- end -}}

          {{- .Scratch.Set "paginator" $paginator -}}
          {{- partial "pagination" . -}}
        </div>
      </div>
      <aside class="sidebar">
        <div class="sidebar__inner">
          {{- partial "search" . -}}
          <div class="sticky">
            {{- partial "info" . -}}
          </div>
        </div>
      </aside>
    </div>
  </main>

  {{- partial "footer" . -}}

  {{- .Scratch.Set "scriptSrc" "js/base.js" -}}
  {{- .Scratch.Set "scriptOut" "assets/dsr-blog_base.min.js" -}}
  {{- .Scratch.Set "scriptType" "defer" -}}
  {{- partial "script" . -}}
  {{- .Scratch.Set "scriptSrc" "js/list.js" -}}
  {{- .Scratch.Set "scriptOut" "assets/dsr-blog_list.min.js" -}}
  {{- .Scratch.Set "scriptType" "defer" -}}
  {{- partial "script" . -}}
</body>

{{- end -}}
