{{ define "body" }}

<body data-theme="auto" data-section="search">
  {{ partial "scripts-theme.html" . }}
  <header>
    {{ partial "navbar.html" . }}
  </header>
  <main>
    <div class="container list-container">
      <div class="columns list-columns">
        <div class="column list-content is-three-quarters">
          <div id="app">
            <div class="card search-ctrl">
              <form class="search-form" method="GET" target="_self">
                <input class="input" type="search" name="q" autocapitalize="off" autocomplete="off"
                       autocorrect="off" spellcheck="false" v-model="searchInput" />
                <button class="button" type="submit">搜索</button>
              </form>
              <v-search-info :status="status" :data="resultData.searchInformation"
                             :query="searchQuerys" />
            </div>
            <v-search-list :status="status" :items="resultData.items" />
          </div>
        </div>
        <div class="column list-sidebar is-one-quarter">
          {{ partial "card-bundle-list.html" . }}
        </div>
      </div>
    </div>
    {{ partial "notification.html" . }}
  </main>
  {{ partial "footer.html" . }}
  {{ partial "scripts-common.html" . }}
  {{ partial "scripts-search.html" . }}
</body>

{{ end }}