{{ define "header" }}
{{ partial "navbar.html" . }}
{{ end }}

{{ define "main" }}
<div class="container list-container">
  <div class="columns list-columns">
    <div class="column list-content is-three-quarters">
      <div class="card search-ctrl">
        <form class="search-form" method="GET" target="_self">
          <input class="input" type="search" name="q" autocapitalize="off" autocomplete="off"
                 autocorrect="off" spellcheck="false" placeholder="请键入搜索关键词">
          <button class="button" type="submit">搜索</button>
        </form>
      </div>
      <div id="search-result">
      </div>
    </div>
    <div class="column list-sidebar is-one-quarter">
      {{ partial "card-bundle-list.html" . }}
    </div>
  </div>
</div>
{{ end }}

{{ define "scripts" }}
{{ partial "scripts-search.html" . }}
{{ end }}