{{ define "body" }}

<body data-theme="auto" data-section="single">
  {{ partial "scripts-theme.html" . }}
  <div id="top" style="height: 0; overflow: hidden;"></div>
  <header>
    {{ partial "navbar.html" . }}
  </header>
  <main>
    <div class="container single-container">
      <div class="columns single-columns">
        <div class="column single-content is-three-quarters">
          <div class="card">
            {{ if .Params.image }}
            <div class="post-image image-wrapper ratio-40x9">
              <img src="{{ .Params.image | relURL }}" />
            </div>
            {{ end }}
            <div class="post-box">
              <h2 class="post-title">{{ .Title }}</h2>
              <div class="post-meta">
                {{ partial "metadata.html" . }}
              </div>
            </div>
            <div class="post-content">
              <div class="markdown content">
                {{ .Content }}
              </div>
            </div>
          </div>
          {{- if ne .Params.comments false -}}
          <div class="card comment-wrapper">
            <div id="comment-waiting" style="text-align: center;">评论区正在等待加载</div>
            <div id="gitalk-container" data-identifier="{{- .File.ContentBaseName | safeURL -}}">
            </div>
          </div>
          {{- end -}}
        </div>
        <div class="column single-sidebar is-one-quarter">
          {{ partial "card-info.html" . }}
          <div class="sticky">
            {{ if ne .Params.toc false }}
            <div class="card toc hidden" id="table-of-contents">
              {{ .TableOfContents }}
            </div>
            {{ end }}
          </div>
        </div>
      </div>
    </div>
    {{ partial "notification.html" . }}
  </main>
  {{ partial "footer.html" . }}
  {{ partial "scripts-common.html" . }}
  {{ partial "scripts-single.html" . }}
</body>

{{ end }}