{{- define "body" -}}

<body data-theme="auto" data-section="single">
  {{- partial "scripts-theme.html" . -}}
  <div id="top" style="height: 0; overflow: hidden;"></div>
  <header>
    {{- partial "navbar.html" . -}}
  </header>
  <main>
    <div class="container single-container">
      <div class="columns single-columns">
        <div class="column single-content is-three-quarters">
          <div class="card">
            {{- if .Params.image -}}
            <div class="post-image image-wrapper ratio-40x9">
              <img class="lazyload" data-src="{{- .Params.image | relURL -}}" />
            </div>
            {{- end -}}
            <div class="post-box">
              <h2 class="post-title">{{- .Title -}}</h2>
              <div class="post-meta">
                {{- partial "metadata.html" . -}}
              </div>
            </div>
            <div class="post-content">
              <article class="markdown content">
                {{ .Content }}
              </article>
              {{- if ne .Params.license false -}}
              <div class="license markdown content">
                <blockquote>{{- .Site.Params.license -}}</blockquote>
              </div>
              {{- end -}}
            </div>
          </div>
          {{- if and (ne .Params.comment false) (ne .Section "code") -}}
          <div class="card comment-wrapper">
            <div id="comment-waiting" style="text-align: center;">评论区正在等待加载</div>
            {{ $formated := replace .File.Path "\\" "/" }}
            {{ $path := split $formated "." }}
            <div id="gitalk-container" data-identifier="{{- index $path 0 -}}">
            </div>
          </div>
          {{- end -}}
        </div>
        <aside class="column single-sidebar is-one-quarter">
          {{- partial "side-single.html" . -}}
        </aside>
      </div>
    </div>
  </main>
  {{- partial "footer.html" . -}}
  {{- partial "scripts-single.html" . -}}
</body>

{{- end -}}
