{{- define "head" -}}

<head>
  {{- partial "head" . -}}
  {{- partial "style" . -}}
</head>

{{- end -}}

{{- define "body" -}}

<body data-theme="auto" data-section="tags">
  {{- partial "theme" . -}}
  {{- partial "header" . -}}

  <main class="main">
    <div class="container">
      <div class="content">
        <div class="content__inner tags__list">
          <div class="card">
            {{- range $name, $tag := .Site.Taxonomies.tags -}}
            {{- $url := printf "/tags/%s/" $name | relURL -}}
            <span class="tags__item">
              {{- $.Scratch.Set "iconName" "hashtag" -}}
              {{- partial "icon" $ -}}
              {{- printf "<a href='%s'>%s</a>" $url $name | safeHTML -}}
            </span>
            {{- end -}}
          </div>
        </div>
      </div>
      <aside class="sidebar">
        <div class="sidebar__inner">
          <div class="sticky">
            {{- partial "info" . -}}
          </div>
        </div>
      </aside>
    </div>
  </main>

  {{- partial "footer" . -}}
  {{- partial "script" . -}}
</body>

{{- end -}}
