$colors-light: (
  'body': #f2f2f2,
  'bg': rgba(255, 255, 253, 0.8),
  'hover': #f3f5fa,
  'wrapper': #e8e8e8,
  'primary': #8aa2d3,
  'font': #3f4551,
);
@mixin light {
  @each $key, $value in $colors-light {
    --color-#{$key}: #{$value};
  }
  --box-shadow: 0 0.25rem 1rem rgba(48, 55, 66, 0.06);
}

$colors-dark: (
  'body': #2f3136,
  'bg': #4d5158,
  'hover': #41454b,
  'wrapper': #34373d,
  'font': rgba(255, 255, 255, 0.75),
  'primary': #8aa2d3,
);
@mixin dark {
  @each $key, $value in $colors-dark {
    --color-#{$key}: #{$value};
  }
  --box-shadow: none;
  img {
    filter: brightness(85%);
  }
}

body[data-theme='auto'] {
  @include light();

  @media (prefers-color-scheme: dark) {
    @include dark();
  }
}
body[data-theme='light'] {
  @include light();
}
body[data-theme='dark'] {
  @include dark();
}
