$colors-light: (
  'body': #f2f2f2,
  'bg': rgba(255, 255, 253, 0.8),
  'wrapper': #e8e8e8,
  'code': #f1f1f1,
  'primary': #8aa2d3,
  'font': #3f4551,
  'select': #ffffff,
);
@mixin light {
  @each $key, $value in $colors-light {
    --color-#{$key}: #{$value};
  }
  --box-shadow: 0 0.25rem 1rem rgba(0, 0, 0, 0.05);
}

$colors-dark: (
  'body': #2f3136,
  'bg': rgba(77, 81, 88, 0.8),
  'wrapper': #34373d,
  'code': #34373d,
  'primary': #9db1da,
  'font': rgba(255, 255, 255, 0.75),
  'select': rgba(255, 255, 255, 0.75),
);
@mixin dark {
  @each $key, $value in $colors-dark {
    --color-#{$key}: #{$value};
  }
  --box-shadow: 0 0.25rem 1rem rgba(0, 0, 0, 0.15);
  img {
    filter: brightness(85%);
  }
}

body[data-theme='auto'] {
  @include light();

  @media (prefers-color-scheme: dark) {
    @include dark();
  }
}
body[data-theme='light'] {
  @include light();
}
body[data-theme='dark'] {
  @include dark();
}
