$colors-light: (
  'body': #f2f2f2,
  'bg': #fffffd,
  'hover': #f3f5fa,
  'wrapper': #f5f5f5,
  'primary': #8aa2d3,
  'font': #3f4551,
);
@mixin light {
  @each $key, $value in $colors-light {
    --color-#{$key}: #{$value};
  }

  --blur-bg: rgba(255, 255, 253, 0.8);
  --blur-filter: saturate(180%) blur(0.2rem);
  --box-shadow: 0 0.25rem 0.5rem rgba(48, 55, 66, 0.06);
}

$colors-dark: (
  'body': #2f3136,
  'bg': #4d5158,
  'hover': #41454b,
  'wrapper': #34373d,
  'font': rgba(255, 255, 255, 0.75),
  'primary': #8aa2d3,
);
@mixin dark {
  @each $key, $value in $colors-dark {
    --color-#{$key}: #{$value};
  }

  --blur-bg: rgba(255, 255, 253, 0.8);
  --blur-filter: saturate(180%) blur(0.2rem);
  --box-shadow: none;

  img {
    filter: brightness(85%);
  }
}

body[data-theme='auto'] {
  @include light();

  @media (prefers-color-scheme: dark) {
    @include dark();
  }
}
body[data-theme='light'] {
  @include light();
}
body[data-theme='dark'] {
  @include dark();
}
