.fiximg {
  position: relative;
  display: block;
  overflow: hidden;
  background-color: var(--color-wrapper);
  border-radius: $radius-sm;
  width: 100%;

  &__container {
    display: block;
    width: 100%;
    height: 0;
    margin: 0;

    img {
      display: block;
      width: 100%;
      margin: 0;
      color: var(--color-primary);
      font-size: inherit;
      text-align: center;
    }
  }

  &__desc {
    position: absolute;
    display: block;
    right: 0;
    bottom: 0;
    font-size: 13px;
    line-height: 24px;
    padding: 0 6px;
    color: var(--color-font-inverse);
    background-color: rgba($color: #000000, $alpha: 0.3);
    border-top-left-radius: 4px;
  }
}
