.fiximg {
  position: relative;
  display: block;
  overflow: hidden;
  background-color: var(--color-wrapper);
  border-radius: $corner-radius;
  width: 100%;

  &__container {
    display: block;
    width: 100%;
    height: 0;
    margin: 0;

    img {
      display: block;
      width: 100%;
      margin: 0;
      color: var(--color-primary);
      font-size: inherit;
      text-align: center;
    }
  }
}
