@font-face {
  font-family: Inter;
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url('https://cdn.jsdelivr.net/gh/dsrkafuu/dsr-cdn-main@1/fonts/inter/inter_400.woff2')
    format('woff2');
}

@font-face {
  font-family: Inter;
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: url('https://cdn.jsdelivr.net/gh/dsrkafuu/dsr-cdn-main@1/fonts/inter/inter_500.woff2')
    format('woff2');
}

@font-face {
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url('https://cdn.jsdelivr.net/gh/dsrkafuu/dsr-cdn-main@1/fonts/noto_sans_sc/noto_sans_sc_400.woff2')
    format('woff2');
}

@font-face {
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: url('https://cdn.jsdelivr.net/gh/dsrkafuu/dsr-cdn-main@1/fonts/noto_sans_sc/noto_sans_sc_500.woff2')
    format('woff2');
}

@font-face {
  font-family: 'Cascadia Code';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url('https://cdn.jsdelivr.net/gh/dsrkafuu/dsr-cdn-main@1/fonts/cascadia_code/cascadia_code_400.woff2')
    format('woff2');
}

@font-face {
  font-family: 'Cascadia Code';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: url('https://cdn.jsdelivr.net/gh/dsrkafuu/dsr-cdn-main@1/fonts/cascadia_code/cascadia_code_600.woff2')
    format('woff2');
}
