@font-face {
  font-family: Inter;
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: local('Inter Regular'),
    url('https://cdn.jsdelivr.net/gh/dsrkafuu/dsr-cdn-main@1/fonts/inter/inter_400.woff2')
      format('woff2'),
    url('https://cdn.jsdelivr.net/gh/dsrkafuu/dsr-cdn-main@1/fonts/inter/inter_400.woff')
      format('woff');
}

@font-face {
  font-family: Inter;
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: local('Inter Medium'),
    url('https://cdn.jsdelivr.net/gh/dsrkafuu/dsr-cdn-main@1/fonts/inter/inter_500.woff2')
      format('woff2'),
    url('https://cdn.jsdelivr.net/gh/dsrkafuu/dsr-cdn-main@1/fonts/inter/inter_500.woff')
      format('woff');
}

@font-face {
  font-family: 'Noto Sans S Chinese';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: local('Noto Sans S Chinese Regular'),
    url('https://cdn.jsdelivr.net/gh/dsrkafuu/dsr-cdn-main@1/fonts/noto_sans_sc/noto_sans_sc_400.woff2')
      format('woff2'),
    url('https://cdn.jsdelivr.net/gh/dsrkafuu/dsr-cdn-main@1/fonts/noto_sans_sc/noto_sans_sc_400.woff')
      format('woff');
}

@font-face {
  font-family: 'Noto Sans S Chinese';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: local('Noto Sans S Chinese Medium'),
    url('https://cdn.jsdelivr.net/gh/dsrkafuu/dsr-cdn-main@1/fonts/noto_sans_sc/noto_sans_sc_500.woff2')
      format('woff2'),
    url('https://cdn.jsdelivr.net/gh/dsrkafuu/dsr-cdn-main@1/fonts/noto_sans_sc/noto_sans_sc_500.woff')
      format('woff');
}
