html {
  height: 100%;
  font-size: $font-size-base;
  font-family: $font-family-base;
  background-color: var(--color-body);
  scroll-behavior: smooth;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  font-size: $font-size-base;
  font-family: $font-family-base;
  background-color: var(--color-body);
  position: relative;
  overflow-x: hidden;
}

pre,
code,
tt {
  font-family: $font-family-mono;
}

// sticky footer
.header,
.footer {
  flex: 0 0 auto;
}

.main {
  flex: 1 1 auto;
}

// index fixes
.header {
  z-index: 3;
}
.main {
  z-index: 2;

  .content {
    z-index: 1;
  }
  .sidebar {
    z-index: 2;

    & > .card {
      z-index: 1;
    }
    & > .sticky {
      z-index: 2;
    }
  }
}
.footer {
  z-index: 1;
}

.medium-zoom-overlay {
  backdrop-filter: $filter-blur;
  z-index: 4;
}
.medium-zoom-image--opened {
  z-index: 5;
}
