.markdown {
  font-family: $font-family-base;
  line-height: 1.5;
  word-wrap: break-word;

  p,
  blockquote,
  ul,
  ol,
  dl,
  table,
  pre,
  details {
    margin-top: 0;
    margin-bottom: 1rem;

    &:last-child {
      margin-bottom: 0;
    }
  }

  ul,
  ol {
    padding-left: 2rem;
  }

  ul ul,
  ul ol,
  ol ol,
  ol ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 1.25rem;
  }

  li > p {
    margin-top: 1rem;
  }

  li + li {
    margin-top: 0.2rem;
  }

  dl {
    padding: 0;
  }

  dl dt {
    padding: 0;
    margin-top: 1rem;
    font-size: 1rem;
    font-style: italic;
    font-weight: 600;
  }

  dl dd {
    padding: 0 1rem;
    margin-bottom: 1rem;
  }

  kbd,
  :not(pre) code,
  tt {
    display: inline-block;
    font-size: $font-size-sm;
    font-family: $font-family-mono;
    padding: 0 0.35rem;
    color: inherit;
    background-color: var(--color-code);
    border-radius: $radius;
    word-wrap: normal;

    br {
      display: none;
    }
  }

  del code {
    text-decoration: inherit;
  }

  pre {
    font-size: $font-size-sm;
    font-family: $font-family-mono;
    background-color: var(--color-code);
    border-radius: $radius;
    word-wrap: normal;
    padding: 1rem;
    overflow: auto;
    line-height: 1.5;

    & > code {
      padding: 0;
      margin: 0;
      font-size: 100%;
      word-break: normal;
      white-space: pre;
      background: transparent;
      border: 0;
    }

    code,
    tt {
      display: inline;
      max-width: auto;
      padding: 0;
      margin: 0;
      overflow: visible;
      line-height: inherit;
      word-wrap: normal;
      background-color: transparent;
      border: 0;
    }
  }

  hr {
    height: $size-divider;
    padding: 0;
    margin: 1.25rem 0;
    background-color: var(--color-primary);
    border: 0;
  }

  blockquote {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 1rem;
    padding: 0 1rem;
    color: inherit;
    font-size: inherit;
    border-left: $size-divider solid var(--color-wrapper);

    & > :first-child {
      margin-top: 0;
    }

    & > :last-child {
      margin-bottom: 0;
    }
  }

  h1,
  h2 {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: $font-size-xl;

    code,
    tt {
      font-size: $font-size-lg;
    }
  }

  h3 {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: $font-size-md;

    code,
    tt {
      font-size: $font-size-base;
    }
  }

  h4,
  h5,
  h6 {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: $font-size-base;

    code,
    tt {
      font-size: $font-size-sm;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--color-primary);
  }

  table {
    display: block;
    width: 100%;
    width: max-content;
    max-width: 100%;
    overflow: auto;
    border-collapse: collapse;
    margin-bottom: 1rem;

    th {
      font-weight: 600;
    }

    th,
    td {
      padding: 0.25rem 0.75rem;
      border: $size-border solid var(--color-wrapper);
    }
  }
}
