.markdown {
  font-family: $font-family-base;
  line-height: 1.5;
  word-wrap: break-word;

  p,
  blockquote,
  ul,
  ol,
  dl,
  table,
  pre,
  details {
    margin-top: 0;
    margin-bottom: 1rem;

    &:last-child {
      margin-bottom: 0;
    }
  }

  ul,
  ol {
    padding-left: 2rem;
  }

  ul ul,
  ul ol,
  ol ol,
  ol ul {
    margin-top: 0;
    margin-bottom: 0;
  }

  li > p {
    margin-top: 1rem;
  }

  li + li {
    margin-top: 0.2rem;
  }

  dl {
    padding: 0;
  }

  dl dt {
    padding: 0;
    margin-top: 1rem;
    font-size: 1rem;
    font-style: italic;
    font-weight: 600;
  }

  dl dd {
    padding: 0 1rem;
    margin-bottom: 1rem;
  }

  kbd,
  :not(pre) code,
  tt {
    display: inline-block;
    font-size: $font-size-sm;
    font-family: $font-family-mono;
    padding: 0 0.35rem;
    color: inherit;
    background-color: var(--color-code);
    border-radius: $radius;
    word-wrap: normal;

    br {
      display: none;
    }
  }

  del code {
    text-decoration: inherit;
  }

  pre {
    font-size: $font-size-sm;
    font-family: $font-family-mono;
    background-color: var(--color-code);
    border-radius: $radius;
    word-wrap: normal;
    padding: 1rem;
    overflow: auto;
    line-height: 1.5;

    & > code {
      padding: 0;
      margin: 0;
      font-size: 100%;
      word-break: normal;
      white-space: pre;
      background: transparent;
      border: 0;
    }

    code,
    tt {
      display: inline;
      max-width: auto;
      padding: 0;
      margin: 0;
      overflow: visible;
      line-height: inherit;
      word-wrap: normal;
      background-color: transparent;
      border: 0;
    }
  }

  hr {
    height: $size-divider;
    padding: 0;
    margin: 1.25rem 0;
    background-color: var(--color-primary);
    border: 0;
  }

  blockquote {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 1rem;
    padding: 0 1rem;
    color: inherit;
    font-size: inherit;
    border-left: $size-divider solid var(--color-wrapper);

    & > :first-child {
      margin-top: 0;
    }

    & > :last-child {
      margin-bottom: 0;
    }
  }
}

// .markdown h1,
// .markdown h2,
// .markdown h3,
// .markdown h4,
// .markdown h5,
// .markdown h6 {
//   margin-top: 24px;
//   margin-bottom: 16px;
//   font-weight: 600;
//   line-height: 1.25;
// }

// .markdown h1 tt,
// .markdown h1 code,
// .markdown h2 tt,
// .markdown h2 code,
// .markdown h3 tt,
// .markdown h3 code,
// .markdown h4 tt,
// .markdown h4 code,
// .markdown h5 tt,
// .markdown h5 code,
// .markdown h6 tt,
// .markdown h6 code {
//   font-size: inherit;
// }
// .markdown h1 {
//   padding-bottom: 0.3em;
//   font-size: 2em;
//   border-bottom: 1px solid var(--color-border-secondary);
// }
// .markdown h2 {
//   padding-bottom: 0.3em;
//   font-size: 1.5em;
//   border-bottom: 1px solid var(--color-border-secondary);
// }
// .markdown h3 {
//   font-size: 1.25em;
// }
// .markdown h4 {
//   font-size: 1em;
// }
// .markdown h5 {
//   font-size: 0.875em;
// }
// .markdown h6 {
//   font-size: 0.85em;
//   color: var(--color-text-tertiary);
// }

// .markdown table {
//   display: block;
//   width: 100%;
//   width: max-content;
//   max-width: 100%;
//   overflow: auto;
// }
// .markdown table th {
//   font-weight: 600;
// }
// .markdown table th,
// .markdown table td {
//   padding: 6px 13px;
//   border: 1px solid var(--color-markdown-table-border);
// }
// .markdown table tr {
//   background-color: var(--color-bg-primary);
//   border-top: 1px solid var(--color-markdown-table-tr-border);
// }
// .markdown table tr:nth-child(2n) {
//   background-color: var(--color-bg-tertiary);
// }
// .markdown table img {
//   background-color: transparent;
// }
// .markdown img {
//   max-width: 100%;
// }
