.markdown,
.markdown-body {
  line-height: 1.5;
  word-wrap: break-word;

  & > :first-child {
    margin-top: 0;
  }
  & > :last-child {
    margin-bottom: 0;
  }

  p,
  blockquote,
  ul,
  ol,
  dl,
  table,
  pre,
  details {
    margin-top: 0;
    margin-bottom: 15px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  ul,
  ol {
    padding-left: 30px;
  }

  ul ul,
  ul ol,
  ol ol,
  ol ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 18px;
  }

  li > p {
    margin-top: 15px;
  }

  li + li {
    margin-top: 0.3px;
  }

  dl {
    padding: 0;
  }

  dl dt {
    padding: 0;
    margin-top: 15px;
    font-size: 15px;
    font-style: italic;
    font-weight: 500;
  }

  dl dd {
    padding: 0 15px;
    margin-bottom: 15px;
  }

  kbd,
  :not(pre) code,
  tt {
    display: inline;
    font-size: 90%;
    font-family: $font-family-mono;
    padding: 0.15px 5px;
    color: inherit;
    background-color: var(--color-code);
    border-radius: $radius;
    word-wrap: break-word;
    word-break: break-all;
    hyphens: none;

    br {
      display: none;
    }
  }

  del code {
    text-decoration: inherit;
  }

  pre {
    font-size: 90%;
    font-family: $font-family-mono;
    background-color: var(--color-code);
    border-radius: $radius;
    word-wrap: normal;
    padding: 15px;
    overflow: auto;
    line-height: 1.5;

    & > code {
      padding: 0;
      margin: 0;
      font-size: inherit;
      word-break: normal;
      white-space: pre;
      background: transparent;
      border: 0;
    }

    code,
    tt {
      font-size: inherit;
      display: inline;
      max-width: auto;
      padding: 0;
      margin: 0;
      overflow: visible;
      line-height: inherit;
      word-wrap: normal;
      background-color: transparent;
      border: 0;
    }
  }

  hr {
    height: $size-divider;
    padding: 0;
    margin: 18px 0;
    background-color: var(--color-wrapper);
    border: 0;
  }

  blockquote {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 15px;
    padding: 0 15px;
    color: inherit;
    font-size: inherit;
    border-left: $size-divider solid var(--color-wrapper);

    & > :first-child {
      margin-top: 0;
    }

    & > :last-child {
      margin-bottom: 0;
    }
  }

  h1,
  h2 {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: $font-size-xl;
  }

  h3 {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: $font-size-md;
  }

  h4,
  h5,
  h6 {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: $font-size-base;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--color-primary);

    code,
    tt {
      font-size: 85%;
    }
  }

  table {
    display: block;
    width: 100%;
    width: max-content;
    max-width: 100%;
    overflow: auto;
    border-collapse: collapse;
    margin-bottom: 15px;
    background-color: transparent;

    tr {
      background-color: transparent;
    }

    th {
      font-weight: 500;
    }

    th,
    td {
      background-color: transparent;
      padding: 4px 12px;
      border: $size-border solid var(--color-wrapper);
    }
  }

  img {
    display: block;
    border-radius: $radius;
  }
}
