* {
  box-sizing: border-box;
}

html,
body {
  color: var(--color-font);
}

a {
  position: relative;
  color: var(--color-primary);
  text-decoration: none;

  &:hover {
    color: var(--color-primary);
    text-decoration: underline;
  }
}

strong,
b {
  font-weight: 500;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}

img {
  display: block;
  max-width: 100%;
}

code {
  display: inline;
  word-break: break-all;
  word-wrap: break-word;
  hyphens: none;
}

// utils
.container {
  max-width: $responsive-desktop;
  margin-left: auto;
  margin-right: auto;
}

.link {
  cursor: pointer;
  position: relative;
  color: var(--color-primary);
  text-decoration: none;

  &:hover {
    color: var(--color-primary);
    text-decoration: underline;
  }
}

.card {
  background-color: var(--color-bg);
  border-radius: $radius;
  box-shadow: var(--box-shadow);
  overflow: auto;
}

.sticky {
  position: sticky;
  top: $height-navbar + $space-base;

  @include responsive(md) {
    top: $height-navbar + $space-sm;
  }

  &:not(:first-child) {
    margin-top: $space-base;

    @include responsive(md) {
      margin-top: $space-sm;
    }
  }
}

// icons
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.icon {
  width: 1.1em;
  height: 1.1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

.icon.spin {
  animation: spinner 1s infinite linear;
}

.fa-secondary {
  opacity: 0.4;
}
