@import '@dsrca/design/variables';

$responsive-desktop: 975px;
$responsive-tablet: 750px;

@mixin responsive($size) {
  @if $size == sm {
    @media screen and (max-width: $responsive-tablet) {
      @content;
    }
  } @else if $size == md {
    @media screen and (max-width: $responsive-desktop) {
      @content;
    }
  } @else {
    @content;
  }
}

$height-navbar: 56px;
$height-navbar-sm: 32px * 2 + 5px * 3;
$height-toc: 420px;
