/* initial */
// color
$orange: hsl(14, 100%, 53%);
$yellow: hsl(48, 100%, 67%);
$green: hsl(141, 53%, 53%);
$turquoise: hsl(171, 100%, 41%);
$cyan: hsl(204, 71%, 53%);
$blue: hsl(217, 71%, 53%);
$purple: hsl(271, 100%, 71%);
$red: hsl(348, 86%, 61%);
// font-family
$family-sans-serif: -apple-system, BlinkMacSystemFont, 'SF Pro Text', 'Helvetica Neue', 'Helvetica',
  'Arial', 'PingFang SC', 'Hiragino Sans GB', 'Source Han Sans CN', 'Source Han Sans SC',
  'Microsoft YaHei', 'WenQuanYi Micro Hei', sans-serif;
$family-monospace: 'Cascadia Code', 'SF Mono', 'Fira Code', 'Consolas', $family-sans-serif;

/* derived */

/* generic */
// size
$body-size: 16px;

/* components */
@import 'bulma/sass/utilities/_all';
@import 'bulma/sass/base/_all';
