/* initial */
$family-sans-serif: $amzrk2-font-family-base;
$family-monospace: $amzrk2-font-family-mono;
$block-spacing: $amzrk2-space-base;

/* derived */
$text: var(--color-font);

/* generic */
$body-size: $amzrk2-font-size-base;

/* responsive */
$tablet: 769px;
$desktop: 1080px;
$widescreen-enabled: false;
$fullhd-enabled: false;

/* markdown */
$text-strong: var(--color-primary);
$content-blockquote-background-color: transparent;
$content-blockquote-padding: 0 $amzrk2-space-sm;
$content-pre-padding: $amzrk2-space-sm;
$table-color: var(--color-font);

/* search */
$input-color: var(--color-font);
$input-background-color: var(--color-wrapper);
$input-border-color: transparent;
$input-hover-color: var(--color-wrapper);
$input-hover-border-color: transparent;
$input-focus-color: var(--color-wrapper);
$input-focus-border-color: var(--color-primary);
$input-radius: 3px;

/* components */
@import 'bulma/sass/utilities/_all';
@import 'bulma/sass/base/_all';
@import 'bulma/sass/elements/container';
@import 'bulma/sass/grid/columns';
@import 'bulma/sass/elements/content';
@import 'bulma/sass/form/shared';
@import 'bulma/sass/form/input-textarea';
@import 'bulma/sass/elements/table';
