@import 'gitalk/dist/gitalk';

// fix index error
.markdown-body :checked + .radio-label,
.gt-container .gt-meta,
.gt-container.gt-input-focused:after,
.gt-container.gt-input-focused .gt-header-comment {
  z-index: auto;
}

.gt-container {
  a {
    color: var(--color-primary) !important;
    &:hover {
      color: var(--color-secondary) !important;
    }
  }

  .gt-meta {
    margin-top: 0 !important;
    padding-top: 0 !important;
    border-color: var(--color-wrapper) !important;
  }

  .gt-link {
    border-bottom: none !important;
  }

  .gt-user {
    .gt-ico svg,
    .is--poping .gt-ico svg {
      fill: var(--color-font) !important;
    }
  }

  .gt-header-controls-tip {
    color: var(--color-primary) !important;
  }

  .gt-svg svg {
    fill: var(--color-primary) !important;
  }

  .gt-btn {
    border: none !important;
    background-color: var(--color-primary) !important;
    &:hover {
      border-color: var(--color-secondary) !important;
      background-color: var(--color-secondary) !important;
    }
  }

  .gt-btn-preview {
    background-color: var(--color-wrapper) !important;
    color: var(--color-primary) !important;
    border: none !important;
    &:hover {
      color: #fff !important;
      background-color: var(--color-secondary) !important;
    }
  }

  .gt-header-textarea {
    color: var(--color-font) !important;
    border: none !important;
    background-color: var(--color-wrapper) !important;
  }

  .gt-comment-content,
  .gt-comment-admin .gt-comment-content {
    box-shadow: none !important;
    &:hover {
      box-shadow: none !important;
    }

    border-radius: $amzrk2-radius !important;
    background-color: var(--color-wrapper) !important;
    color: var(--color-font) !important;
    padding: $amzrk2-space-sm;
  }

  .gt-comment-body {
    color: var(--color-font) !important;
  }

  .markdown-body {
    h1,
    h2 {
      font-size: $amzrk2-font-size-xl !important;
      margin: 1.375rem 0 1rem 0 !important;
      color: var(--color-primary) !important;
    }

    h3 {
      font-size: $amzrk2-font-size-md !important;
      margin: 1.25rem 0 1rem 0 !important;
      color: var(--color-primary) !important;
    }

    h4,
    h5,
    h6 {
      font-size: $amzrk2-font-size-base !important;
      margin: 1.125rem 0 1rem 0 !important;
      color: var(--color-primary) !important;
    }

    ul {
      list-style-type: '- ' !important;
    }

    ul,
    ol {
      margin-left: 1.25rem !important;
      padding-left: 0 !important;
    }

    img {
      border-radius: $amzrk2-radius !important;
      max-width: 100% !important;
      display: block !important;
    }

    code,
    tt {
      background-color: var(--color-wrapper) !important;
      border-radius: $amzrk2-radius !important;
      padding: 0.15em 0.3em !important;
      color: inherit !important;
      font-size: $amzrk2-font-size-sm !important;
      word-wrap: normal !important;
      br {
        display: none !important;
      }
    }

    pre {
      border-radius: $amzrk2-radius !important;
      background-color: var(--color-wrapper) !important;
      color: inherit !important;
      overflow-x: auto !important;

      & > code {
        background-color: transparent !important;
        border-radius: none !important;
        padding: 0 !important;
      }
    }

    blockquote {
      border-left: 0.1875rem solid var(--color-primary) !important;
    }

    .image-wrapper {
      border-radius: $amzrk2-radius !important;

      img {
        width: 100% !important;
      }
    }

    h1,
    h2 {
      padding-bottom: 0 !important;
      border-bottom: none !important;
    }

    a:hover {
      text-decoration: none !important;
    }

    .task-list-item input {
      display: none !important;
    }

    table {
      tr {
        background-color: var(--color-wrapper) !important;
        border-color: var(--color-primary) !important;
        border-width: 2px;
      }
      td,
      th {
        border-color: var(--color-primary) !important;
        border-width: 2px;
      }
    }
  }
}
