/* custom prism theme */

@mixin prism-light {
  --prism-grey: #93a1a1;
  --prism-blue: #7c91bd;
  --prism-cyan: #8b81c3;
  --prism-entity: #657b83;
  --prism-green: #51a2a0;
  --prism-yellow: #ee7800;
  --prism-orange: #e45435;
}

@mixin prism-dark {
  --prism-grey: #93a1a1;
  --prism-blue: #95abd7;
  --prism-cyan: #bab1df;
  --prism-entity: #657b83;
  --prism-green: #8ec298;
  --prism-yellow: #e3c26a;
  --prism-orange: #ee869a;
}

body[data-theme='auto'] {
  @include prism-light();

  @media (prefers-color-scheme: dark) {
    @include prism-dark();
  }
}
body[data-theme='light'] {
  @include prism-light();
}
body[data-theme='dark'] {
  @include prism-dark();
}

code[class*='language-'],
pre[class*='language-'] {
  tab-size: 2;
}

.token.important,
.token.bold {
  font-weight: 600;
}
.token.italic {
  font-style: italic;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: var(--prism-grey);
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  color: var(--prism-blue);
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.url,
.token.inserted {
  color: var(--prism-cyan);
}

.token.entity {
  color: var(--prism-entity);
}

.token.atrule,
.token.attr-value,
.token.keyword {
  color: var(--prism-green);
}

.token.function,
.token.class-name {
  color: var(--prism-yellow);
}

.token.regex,
.token.important,
.token.variable {
  color: var(--prism-orange);
}
