@import './support/variables';

@import '@dsrca/design/reset';
@import '@dsrca/design/colors';
@import '@dsrca/design/markdown';
@import '@dsrca/design/prism';
@include dsr-colors-full;
@include dsr-markdown;
@include dsr-prism-full;

@import './support/global';
@import './support/fiximg';

@import './partials/footer';
@import './partials/header';
@import './partials/info';
@import './partials/main';
@import './partials/pagination';
@import './partials/search';

@import './pages/list';
@import './pages/single';
@import './pages/code';
@import './pages/tags';
@import './pages/friends';

#sakana-widget {
  position: fixed;
  right: 40px;
  bottom: 40px;
  z-index: 4;
  @include responsive(md) {
    display: none;
  }
}
