@import './support/variables';

@import '@dsrca/design/style/colors.scss';
@include dsr-colors-full;
@import '@dsrca/design/style/reset.scss';
@import '@dsrca/design/style/markdown.scss';
@import '@dsrca/design/style/prism.scss';
@include dsr-prism-full;

@import './support/global';
@import './support/fiximg';

@import './partials/footer';
@import './partials/header';
@import './partials/info';
@import './partials/main';
@import './partials/pagination';
@import './partials/search';

@import './pages/list';
@import './pages/single';
@import './pages/code';
@import './pages/tags';
@import './pages/friends';

#sakana-widget {
  position: fixed;
  right: 60px;
  bottom: 20px;
  z-index: 4;
  @include responsive(md) {
    display: none;
  }
}
