{{- $paginator := .Paginate (where .Site.RegularPages "Type" "in" .Section) -}}

{{- range $paginator.Pages -}}
<div class="card">
  {{- if .Params.image -}}
  <div class="list-image image-wrapper ratio-40x9">
    <a href="{{- .RelPermalink -}}">
      <img class="lazyload" data-src="{{- .Params.image | relURL -}}" />
    </a>
  </div>
  {{- end -}}
  <div class="list-box">
    <div class="list-post">
      <a href="{{- .RelPermalink -}}">
        <h2 class="list-title">{{- .Title -}}</h2>
      </a>
      <div class="list-summary markdown content">{{- .Summary -}}</div>
    </div>
    <div class="list-meta">
      {{- partial "metadata.html" . -}}
    </div>
  </div>
</div>
{{- end -}}

{{- partial "pagination.html" (dict "context" . "pagi" $paginator) -}}
