{{- if ne .Params.comment false -}}
<div class="card comment" id="comment-area">
  <div class="comment__loading" id="comment-loading">
    <div>
      {{- .Scratch.Set "iconName" "spinner-third" -}}
      {{- partial "icon" . -}}
      {{- printf "<span id='comment-text'>评论区正在加载</span>" | safeHTML -}}
    </div>
    <div class="link" id='comment-retry' style="display: none;">
      重试
    </div>
  </div>
  <div class="comment__wrapper">
    <div id="comment-content"></div>
  </div>
</div>
{{- end -}}
