{{- $package := getJSON "package.json" -}}
{{- $version := $package.version -}}

<footer class="footer">
  <div class="container">
    <span class="footer__text">Copyright &copy; 2017-{{- now.Format "2006" }} | <a class="link"
        href="{{- .Site.Params.authorLink -}}" target="_blank" rel="noopener">{{- .Site.Params.author -}}</a></span>
    <span class="footer__text"><a class="link" href="https://github.com/dsrkafuu/dsr-blog" target="_blank"
        rel="noopener">{{- .Site.Title -}}</a> v{{- $version }} | Apache-2.0</a></span>
  </div>
</footer>
