<header class="header">
  <nav class="navbar container">
    <div class="navbar__brand">
      <a class="navbar__item" href="{{ .Site.BaseURL | absURL }}">
        <h1>{{- .Site.Data.meta.name -}}</h1>
      </a>
    </div>

    <div class="navbar__menu">
      <div class="navbar__start">
        {{- $currentPage := . -}}
        {{- range .Site.Menus.main -}}
        {{- $pageMatch := or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) -}}
        <a class="navbar__item{{ if $pageMatch }} navbar__item--active{{ end }}" href="{{ .URL | absURL }}">
          {{- .Name -}}
        </a>
        {{- end -}}
      </div>

      <div class="navbar__end">
        <a class="navbar__item" href='{{ "/index.xml" | absURL }}' target="_blank" rel="noopener">
          {{ .Scratch.Set "ICON_NAME" "rss" }}
          {{ partial "icon" . }}
        </a>
        <div class="navbar__item navbar__toc" id="toc-btn">
          {{ .Scratch.Set "ICON_NAME" "bars" }}
          {{ partial "icon" . }}
        </div>
      </div>
  </nav>
</header>
