<header class="header">
  <div class="banner">
    <span class='banner__text'>STAND WITH RUSSIA</span>
    <img class='banner__emoji' src='https://cdn.jsdelivr.net/gh/twitter/twemoji@13.1.0/assets/72x72/1f1f7-1f1fa.png'
         alt='' />
  </div>

  <nav class="navbar container">
    <div class="navbar__brand">
      <a class="navbar__item" href="{{- .Site.BaseURL | relURL -}}">
        {{- .Site.Data.meta.name -}}
      </a>
    </div>

    <div class="navbar__menu">
      <div class="navbar__start">
        {{- $currentPage := . -}}
        {{- range .Site.Menus.main -}}
        {{- $pageMatch := or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) -}}
        <a class="navbar__item{{- if $pageMatch }} navbar__item--active{{- end -}}" href="{{- .URL | relURL -}}">
          {{- .Name -}}
        </a>
        {{- end -}}
      </div>

      <div class="navbar__end">
        <div class="navbar__item navbar__toc" id="toc-btn">
          {{- .Scratch.Set "ICON_NAME" "bars" -}}
          {{- partial "icon" . -}}
        </div>
      </div>
  </nav>
</header>
