<header class="header">
  <nav class="navbar container">
    <div class="navbar__brand">
      <a class="navbar__item" href="{{- .Site.BaseURL | relURL -}}">
        {{- .Site.Title -}}
      </a>
    </div>

    <div class="navbar__menu">
      <div class="navbar__start">
        {{- $currentPage := . -}}
        {{- range .Site.Menus.main -}}
        {{- $pageMatch := $currentPage.IsMenuCurrent "main" . -}}
        <a class="navbar__item{{- if $pageMatch }} navbar__item--active{{- end -}}" href="{{- .URL | relURL -}}">
          {{- .Name -}}
        </a>
        {{- end -}}
      </div>

      <div class="navbar__end">
        <div class="navbar__item navbar__switch" id="switch-btn">
          {{- .Scratch.Set "iconName" "adjust" -}}
          {{- partial "icon" . -}}
        </div>
        <div class="navbar__item navbar__toc" id="toc-btn">
          {{- .Scratch.Set "iconName" "bars" -}}
          {{- partial "icon" . -}}
        </div>
      </div>
  </nav>
</header>
