<nav class="navbar">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" href="{{ .Site.BaseURL }}">
        {{ .Site.Title }}
      </a>
    </div>

    <div class="navbar-menu">
      <div class="navbar-start">
        {{ $currentPage := . }}
        {{ range .Site.Menus.main }}
        <a class="navbar-item {{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }}"
           href="{{ .URL }}">
          {{ .Name }}
        </a>
        {{ end }}
      </div>

      <div class="navbar-end">
        <a class="navbar-item" href="{{ "/search/" | relURL }}">
          <svg class="icon" aria-hidden="true">
            <use xlink:href="#icon-search"></use>
          </svg>
        </a>
        <div class="navbar-item" id="ctrl-adjust">
          <svg class="icon" aria-hidden="true">
            <use xlink:href="#icon-adjust"></use>
          </svg>
        </div>
        <a class="navbar-item" id="ctrl-rss" href="{{ "/index.xml" | relURL }}" target="_blank">
          <svg class="icon" aria-hidden="true">
            <use xlink:href="#icon-rss"></use>
          </svg>
        </a>
        <div class="navbar-item" id="ctrl-toc">
          <svg class="icon" aria-hidden="true">
            <use xlink:href="#icon-bars"></use>
          </svg>
        </div>
      </div>
    </div>
</nav>