<nav class="navbar">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" href="{{ .Site.BaseURL }}">
        DSRKafuU
      </a>
    </div>

    <div class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item">
          LIFE
        </a>
        <a class="navbar-item">
          CODE
        </a>
        <a class="navbar-item">
          TAGS
        </a>
        <a class="navbar-item">
          FRIENDS
        </a>
      </div>

      <div class="navbar-end">
        <div class="navbar-item">
          END
        </div>
      </div>
    </div>
  </div>
</nav>