<nav class="navbar">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" href="{{ .Site.BaseURL }}">
        DSRKafuU
      </a>
    </div>

    <div class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item">
          生活
        </a>
        <a class="navbar-item">
          代码
        </a>
        <a class="navbar-item">
          标签
        </a>
        <a class="navbar-item">
          友链
        </a>
      </div>

      <div class="navbar-end">
        <div class="navbar-item" id="ctrl-search">
          <svg class="icon" aria-hidden="true">
            <use xlink:href="#icon-search"></use>
          </svg>
        </div>
        <div class="navbar-item" id="ctrl-adjust">
          <svg class="icon" aria-hidden="true">
            <use xlink:href="#icon-adjust"></use>
          </svg>
        </div>
        <div class="navbar-item">
          <svg class="icon" aria-hidden="true">
            <use xlink:href="#icon-rss"></use>
          </svg>
        </div>
      </div>
    </div>
</nav>