{{- $name := .Site.Data.meta.name -}}
{{- $author := .Site.Data.meta.author -}}
{{- $bio := .Site.Data.meta.bio -}}
{{- $opengraph := .Site.Data.meta.opengraph -}}

<meta property="og:title" content="{{- if .IsHome -}}{{ $name }}{{- else -}}{{- .Title }} | {{ $name }}{{- end -}}" />
<meta name="twitter:title" content="{{- if .IsHome -}}{{ $name }}{{- else -}}{{- .Title }} | {{ $name }}{{- end -}}" />
<meta property="og:type" content="{{ if .IsPage }}article{{ else }}website{{ end }}" />
<meta property="og:url" content="{{ .Permalink }}" />

{{- if .Description -}}
<meta property="og:description" content="{{ .Description }}" />
<meta name="twitter:description" content="{{ .Description }}" />
{{- else if .Params.description -}}
<meta property="og:description" content="{{ .Params.description }}" />
<meta name="twitter:description" content="{{ .Params.description }}" />
{{- else if .IsPage -}}
<meta property="og:description" content="{{ .Summary }}" />
<meta name="twitter:description" content="{{ .Summary }}" />
{{- else -}}
<meta property="og:description" content="{{ $bio }}" />
<meta name="twitter:description" content="{{ $bio }}" />
{{- end -}}

<meta property="og:image" content="{{ $opengraph }}" />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:image" content="{{ $opengraph }}" />

{{- $iso8601 := "2006-01-02T15:04:05-07:00" -}}
{{- if .IsPage -}}
{{- if not .PublishDate.IsZero -}}
<meta property="article:published_time" {{ .PublishDate.Format $iso8601 | printf "content=%q" | safeHTMLAttr }} />
{{- else if not .Date.IsZero -}}
<meta property="article:published_time" {{ .Date.Format $iso8601 | printf "content=%q" | safeHTMLAttr }} />
{{- end -}}
{{- if not .Lastmod.IsZero -}}
<meta property="article:modified_time" {{ .Lastmod.Format $iso8601 | printf "content=%q" | safeHTMLAttr }} />
{{- end -}}
{{- else -}}
{{- if not .Date.IsZero -}}
<meta property="og:updated_time" {{ .Lastmod.Format $iso8601 | printf "content=%q" | safeHTMLAttr }} />
{{- end -}}
{{- end -}}
