{{- if eq (getenv "NODE_ENV") "production" -}}
<!-- cf web analytics -->
<script defer
  src="https://static.cloudflareinsights.com/beacon.min.js"
  data-cf-beacon='{"token": "{{- .Site.Params.cfBeacon -}}"}'>
</script>
{{- end -}}

{{ $filepath := "assets/dsr-blog_common.min.js" }}
{{ $defines := dict "process.env.NODE_ENV" (printf "\"%s\"" (getenv "NODE_ENV")) "process.env.SENTRY_DSN" "\"\"" "process.env.GITALK_CLIENT_ID" "\"\"" "process.env.GITALK_CLIENT_SECRET" "\"\"" }}
{{ $options := (dict "targetPath" $filepath "minify" false "target" "esnext" "format" "iife" "defines" $defines) }}

{{ if eq (getenv "NODE_ENV") "production" }}
<script defer src="{{ $filepath | relURL }}"></script>
{{ else }}
{{ $built := resources.Get "js/common.js" | js.Build $options }}
<script defer src="{{ $built.RelPermalink }}"></script>
{{ end }}
