{{- $src := .Scratch.Get "scriptSrc" -}}
{{- $out := .Scratch.Get "scriptOut" -}}
{{- $type := .Scratch.Get "scriptType" -}}
{{- $options := (dict "targetPath" $out "minify" false "target" "esnext" "format" "iife") -}}

{{- if eq (getenv "NODE_ENV") "production" -}}
{{- if eq $type "async" -}}
<script async src="{{ $out | relURL }}"></script>
{{- else -}}
<script defer src="{{ $out | relURL }}"></script>
{{- end -}}
{{- else -}}
<script>
  window.process = {
    env: { NODE_ENV: 'development' },
  };
</script>
{{- $built := resources.Get $src | js.Build $options -}}
{{- if eq $type "async" -}}
<script async src="{{ $built.RelPermalink }}"></script>
{{- else -}}
<script defer src="{{ $built.RelPermalink }}"></script>
{{- end -}}
{{- end -}}
