{{ if eq (getenv "NODE_ENV") "production" }}
{{ $options := (dict "targetPath" "assets/amzrk2-common.min.js" "minify" true "target" "es2017" "format" "iife") }}
{{ $built := resources.Get "js/common.js" | js.Build $options }}
<script defer src="{{ $built.RelPermalink }}"></script>
{{ else }}
{{ $options := (dict "targetPath" "assets/amzrk2-common.js" "minify" false "target" "es2017" "format" "iife") }}
{{ $built := resources.Get "js/common.js" | js.Build $options }}
<script defer src="{{ $built.RelPermalink }}"></script>
{{ end }}
{{- if eq (getenv "NODE_ENV") "production" -}}
<script async src="https://hm.baidu.com/hm.js?05d5e9074b063513b591f93e3ea9543f"></script>
{{- end -}}