{{ partial "scripts-common.html" . }}
{{ $filepath := "assets/dsr-blog_single.min.js" }}
{{ $defines := dict "process.env.NODE_ENV" (printf "\"%s\"" (getenv "NODE_ENV")) "process.env.SENTRY_DSN" "\"\"" "process.env.GITALK_CLIENT_ID" "\"\"" "process.env.GITALK_CLIENT_SECRET" "\"\"" }}
{{ $options := (dict "targetPath" $filepath "minify" false "target" "esnext" "format" "iife" "defines" $defines) }}

{{ if eq (getenv "NODE_ENV") "production" }}
<script defer src="{{ $filepath | relURL }}"></script>
{{ else }}
{{ $built := resources.Get "js/single.js" | js.Build $options }}
<script defer src="{{ $built.RelPermalink }}"></script>
{{ end }}

<script defer src="https://cdn.jsdelivr.net/npm/prismjs@1.23.0/components/prism-core.min.js"></script>
<script defer src="https://cdn.jsdelivr.net/npm/prismjs@1.23.0/plugins/autoloader/prism-autoloader.min.js"></script>
