{{- $src := .Scratch.Get "styleSrc" -}}
{{- $out := .Scratch.Get "styleOut" -}}

{{- if eq (getenv "NODE_ENV") "production" -}}

{{- $options := (dict "targetPath" $out "outputStyle" "expanded" "includePaths" (slice "node_modules")) -}}
{{- $css := resources.Get $src | resources.ToCSS $options -}}
<link rel="stylesheet" href="{{- $css.RelPermalink -}}" />

{{- else -}}

{{- $options := (dict "targetPath" $out "outputStyle" "expanded" "enableSourceMap" true "includePaths" (slice "node_modules")) -}}
{{- $css := resources.Get $src | resources.ToCSS $options -}}
<link rel="stylesheet" href="{{- $css.RelPermalink -}}" />

{{- end -}}

<!-- reset params -->
{{- .Scratch.Set "styleSrc" nil -}}
{{- .Scratch.Set "styleOut" nil -}}
