.post {
  &__summary {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      display: none;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;

    & > .card:not(:first-child) {
      margin-top: $space-card;

      @include responsive(md) {
        margin-top: $space-mobile;
      }
    }
  }

  &__title {
    color: var(--color-primary);
    display: inline-block;

    h2 {
      color: var(--color-primary);
      margin: 0;
      font-size: $font-xl;
    }
  }

  &__summary {
    margin-top: $space-mobile;
  }

  &__image {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  &__content {
    padding: $space-card;
  }

  &__box {
    padding: $space-card;
  }

  &__meta {
    font-size: $font-sm;
    overflow-x: auto;
    white-space: nowrap;
    margin-top: 15px;
    color: var(--color-primary);

    .icon {
      margin-right: 4px;
    }

    & > span:not(:first-child) {
      padding-left: $space-mobile;
    }

    & > span:nth-child(3) {
      a:not(:last-child) {
        margin-right: 5px;
      }
    }

    // hide word count on mobile
    @include responsive(md) {
      &Words {
        display: none;
      }
    }
  }

  &__article {
    .post__title {
      margin-top: $space-card;
      margin-left: $space-card;
      margin-right: $space-card;
    }

    .post__meta {
      margin-top: $space-mobile;
      margin-left: $space-card;
      margin-right: $space-card;
    }
  }
}
