@import '../support/variables';

@import '../plugins/gitalk';
@import '../plugins/prism';

.pagination {
  display: flex;
  padding: 0 $space-base;
  justify-content: center;

  & > a {
    display: block;
    color: inherit;
    flex: 0 1 auto;
    height: $height-navbar-sm;
    line-height: $height-navbar-sm;
    padding: 0 $space-sm;
    cursor: pointer;

    &:hover {
      text-decoration: none;
      border-bottom: $size-divider solid var(--color-primary);
      color: var(--color-primary);
    }

    &.pagination__item--active {
      color: var(--color-primary);
    }

    .icon {
      width: 1rem;
      height: 1rem;
    }
  }
}

.license {
  font-size: $font-size-sm;
  margin: 0 $space-base $space-base $space-base;
  color: var(--color-primary);
}

.comment {
  margin-top: $space-base;

  @include responsive(md) {
    margin-top: $space-sm;
  }

  &__loading {
    line-height: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: $space-base;

    & > svg,
    & > span {
      margin: 0 0.125rem;
    }
  }
}

.toc {
  line-height: 1.5;
  font-size: $font-size-sm;
  padding: $space-base 0;

  code {
    line-height: 1.5;
  }
}

#TableOfContents {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: $height-toc;
  font-size: $font-size-sm;
  padding: 0 $space-base;

  a {
    white-space: nowrap;
  }

  ul {
    list-style-type: none;
  }

  & > ul {
    padding: 0;
    margin: 0;
  }

  li {
    ul {
      padding: 0;
      padding-left: 0.375rem;
      border-left: $size-divider solid var(--color-wrapper);
      font-size: $font-size-sm * 0.9;

      a {
        height: 1.65rem;
        line-height: 1.65rem;
      }
    }

    a {
      display: block;
      height: 1.75rem;
      line-height: 1.75rem;
      color: var(--color-font);
      overflow: hidden;
      text-overflow: ellipsis;

      &:hover {
        color: var(--color-primary);
        text-decoration: underline;
      }
    }
  }
}

@include responsive(md) {
  .toc {
    position: fixed;
    right: 0;
    top: $height-navbar-sm * 2;
    bottom: 0;
    backdrop-filter: $filter-blur;
    border-radius: 0;
    max-width: 70%;
    min-width: 40%;
    transform: translateX(125%);
    transition: transform 300ms ease;

    &.active {
      transform: translateX(0);
    }
  }
}
