.license {
  font-size: $font-sm;
  margin: 0 $space-card $space-card $space-card;
  color: var(--color-primary);
}

.toc {
  font-size: $font-sm;
  padding: $space-card 0;
}

#TableOfContents {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: $height-toc;
  font-size: $font-sm;
  padding: 0 $space-card;

  a {
    white-space: nowrap;
  }

  ul {
    list-style-type: none;
  }

  & > ul {
    padding: 0;
    margin: 0;
  }

  li {
    ul {
      padding: 0;
      padding-left: 5px;
      border-left: $highlight-size solid var(--color-border);
      font-size: $font-sm * 0.9;

      a {
        height: 25px;
        line-height: 25px;
      }
    }

    a {
      display: block;
      height: 26px;
      line-height: 26px;
      color: var(--color-font);
      overflow: hidden;
      text-overflow: ellipsis;

      &:hover {
        color: var(--color-primary);
        text-decoration: underline;
      }
    }
  }
}

@include responsive(md) {
  .sticky {
    // remove unused top margin of toc on mobile
    margin-top: 0 !important;
  }

  .toc {
    position: fixed;
    right: 0;
    top: $height-navbar-sm;
    bottom: 0;
    border-radius: 0;
    max-width: 70%;
    min-width: 40%;
    transform: translateX(125%);
    transition: transform $transition-fast ease;

    &--active {
      transform: translateX(0);
    }
  }

  #TableOfContents {
    max-height: fit-content;
  }
}

.comment {
  text-align: center;
  margin-top: $space-card;
  padding: $space-card;

  @include responsive(md) {
    margin-top: $space-mobile;
  }
}
