.license {
  font-size: $font-size-sm;
  margin: 0 $space-base $space-base $space-base;
  color: var(--color-primary);
}

.toc {
  font-size: $font-size-sm;
  padding: $space-base 0;
}

#TableOfContents {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: $height-toc;
  font-size: $font-size-sm;
  padding: 0 $space-base;

  a {
    white-space: nowrap;
  }

  ul {
    list-style-type: none;
  }

  & > ul {
    padding: 0;
    margin: 0;
  }

  li {
    ul {
      padding: 0;
      padding-left: 5px;
      border-left: $size-divider solid var(--color-wrapper);
      font-size: $font-size-sm * 0.9;

      a {
        height: 25px;
        line-height: 25px;
      }
    }

    a {
      display: block;
      height: 26px;
      line-height: 26px;
      color: var(--color-font);
      overflow: hidden;
      text-overflow: ellipsis;

      &:hover {
        color: var(--color-primary);
        text-decoration: underline;
      }
    }
  }
}

@include responsive(md) {
  .sticky {
    // remove unused top margin of toc on mobile
    margin-top: 0 !important;
  }

  .toc {
    position: fixed;
    right: 0;
    top: $height-navbar-sm * 2;
    bottom: 0;
    backdrop-filter: $filter-blur;
    border-radius: 0;
    max-width: 70%;
    min-width: 40%;
    transform: translateX(125%);

    &--active {
      transform: translateX(0);
    }
  }
}
