.tags {
  &__list {
    line-height: 2;

    & > .card {
      display: flex;
      flex-wrap: wrap;
      padding: $space-mobile;
      padding-right: $space-card;
      padding-left: $space-card - 15px;
    }
  }

  &__item {
    margin-left: 15px;

    .icon {
      color: var(--color-primary);
    }
  }
}
