.tags {
  &__list {
    line-height: 2;

    & > .card {
      display: flex;
      flex-wrap: wrap;
      padding: $space-sm;
      padding-right: $space-base;
      padding-left: $space-base - 15px;
    }
  }

  &__item {
    margin-left: 15px;

    .icon {
      margin-right: 4px;
      color: var(--color-primary);
    }
  }
}
