{{ define "header" }}
{{ partial "navbar.html" . }}
{{ end }}

{{ define "main" }}
<div class="container main-container">
  <div class="columns main-columns">
    <div class="column main-content is-three-quarters">
      <div class="card">
        <div class="markdown content">
          <h2>404 NOT FOUND</h2>
          <p><strong>资源未找到或未完工</strong></p>
          <p>将在 5 秒后跳转至首页</p>
        </div>
      </div>
    </div>
    <div class="column main-sidebar is-one-quarter">
      <div class="sticky">
        <div class="card">
          {{ partial "card-info.html" . }}
        </div>
        <div class="card">
          {{ partial "card-links.html" . }}
        </div>
      </div>
    </div>
  </div>
</div>
{{ end }}

{{ define "scripts" }}
{{ partial "scripts-list.html" . }}
{{ end }}