{{ define "header" }}
{{ partial "navbar.html" . }}
{{ end }}

{{ define "main" }}
<div class="container main-container">
  <div class="columns main-columns">
    <div class="column main-content">
      <div class="card">
        <div class="markdown content">
          {{ with .Site.GetPage "/_index.md" }}{{ .Content }}{{ end }}
        </div>
      </div>
    </div>
    <div class="column main-sidebar is-one-quarter">
      <div class="sticky">
        <div class="card">
          {{ partial "card-info.html" . }}
        </div>
        <div class="card">
          {{ partial "card-links.html" . }}
        </div>
      </div>
    </div>
  </div>
</div>
{{ end }}

{{ define "scripts" }}
{{ partial "scripts-index.html" . }}
{{ end }}