{{- define "head" -}}

<head>
  {{- partial "head" . -}}

  {{- .Scratch.Set "styleSrc" "styles/pages/list.scss" -}}
  {{- .Scratch.Set "styleOut" "_assets/dsr-blog_list.min.css" -}}
  {{- partial "style" . -}}
</head>

{{- end -}}

{{- define "body" -}}

<body data-theme="auto" data-section="index">
  {{- partial "theme" . -}}
  {{- partial "header" . -}}

  <main class="main">
    <div class="container">
      <div class="content">
        <div class="content__inner">
          <div class="card">
            {{- with .Params.image -}}
            <div class="post__image fiximg">
              <div class="fiximg__container" style="padding-bottom: 22.5%;">
                <img loading="lazy" src='{{- printf "/images/headers/%s" . | relURL -}}' />
              </div>
            </div>
            {{- end -}}

            <div class="post__content">
              <!-- compatibility test section -->
              <div class="markdown compat">
                <h3>兼容性测试</h3>
                <table>
                  <thead>
                    <tr>
                      <th>Flexbox</th>
                      <th>Grid</th>
                      <th>WebP 图片</th>
                      <th>原生 Lazyload</th>
                      <th>Scroll Behavior</th>
                      <th>Backdrop Filter</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr id="content-compat">
                      {{ range (seq 6) }}
                      <td>
                        {{- $.Scratch.Set "iconName" "spinner-third" -}}
                        {{- partial "icon" $ -}}
                        {{- $.Scratch.Set "iconName" "check" -}}
                        {{- partial "icon" $ -}}
                        {{- $.Scratch.Set "iconName" "times" -}}
                        {{- partial "icon" $ -}}
                      </td>
                      {{ end }}
                    </tr>
                  </tbody>
                </table>
                <p>本站不会提供以上功能的 fallback 或 polyfill，最佳体验请更换优秀的最新版本浏览器。</p>
              </div>

              <!-- index article -->
              <article class="markdown">
                {{- with .Site.GetPage "/_index.md" }}{{ .Content }}{{ end -}}
              </article>
            </div>
          </div>
        </div>
      </div>
      <aside class="sidebar">
        <div class="sidebar__inner">
          {{- partial "search" . -}}
          <div class="sticky">
            {{- partial "info" . -}}
          </div>
        </div>
      </aside>
    </div>
  </main>

  {{- partial "footer" . -}}

  {{- .Scratch.Set "scriptSrc" "js/base.js" -}}
  {{- .Scratch.Set "scriptOut" "_assets/dsr-blog_base.min.js" -}}
  {{- .Scratch.Set "scriptType" "defer" -}}
  {{- partial "script" . -}}
  {{- .Scratch.Set "scriptSrc" "js/list.js" -}}
  {{- .Scratch.Set "scriptOut" "_assets/dsr-blog_list.min.js" -}}
  {{- .Scratch.Set "scriptType" "defer" -}}
  {{- partial "script" . -}}
</body>

{{- end -}}
