{{- define "head" -}}

<head>
  {{- partial "head.html" . -}}

  {{- .Scratch.Set "styleSrc" "styles/pages/list.scss" -}}
  {{- .Scratch.Set "styleOut" "assets/dsr-blog_list.min.css" -}}
  {{- partial "style.html" . -}}
</head>

{{- end -}}

{{- define "body" -}}

<body data-theme="auto" data-section="index">
  {{- partial "theme.html" . -}}
  {{- partial "header.html" . -}}

  <main class="main">
    <div class="container">
      <div class="content">
        <div class="content__inner">
          <div class="card">
            {{- with .Params.image -}}
            <div class="post__image image image__ratio-40x9">
              <img src="{{- . | relURL -}}" alt="Index Header" />
            </div>
            {{- end -}}
            <div class="post__content">
              <article class="markdown">
                {{- with .Site.GetPage "/_index.md" }}{{ .Content }}{{ end -}}
              </article>
            </div>
          </div>
        </div>
      </div>
      <aside class="sidebar">
        <div class="sidebar__inner">
          {{- partial "search.html" . -}}
          <div class="sticky">
            {{- partial "info.html" . -}}
          </div>
        </div>
      </aside>
    </div>
  </main>

  {{- partial "footer.html" . -}}

  <script defer src='{{- $.Scratch.Get "DEP_lazysizes" -}}'></script>
  {{- .Scratch.Set "scriptSrc" "js/base.js" -}}
  {{- .Scratch.Set "scriptOut" "assets/dsr-blog_base.min.js" -}}
  {{- partial "script.html" . -}}
  {{- .Scratch.Set "scriptSrc" "js/list.js" -}}
  {{- .Scratch.Set "scriptOut" "assets/dsr-blog_list.min.js" -}}
  {{- partial "script.html" . -}}
</body>

{{- end -}}
